
	<div class="main">
		<div class="main-content">
			<div class="crumbs">
				<a href="javascript:void(0)">e美评</a> &gt; <a href="javascript:void(0)">e直播</a> &gt; 全部直播
			</div>

			<!-- e美评推荐 -->
			<section class="section">
				<div class="section-title">
					<span class="main-title">e美评推荐</span>
					<span class="switch-btn"><i></i>换一换</span>
				</div>
				<div class="section-content">
					<a href="javascript:void(0)" class="block">
						<div class="block-cover">
							<span class="icon-start"></span>
							<img src="<?= PUBLICS ?>Home/images/live-list/cover-1.jpg">
						</div>
						<div class="block-desc">
							感受下今天的氛围！
						</div>
					</a>
					<a href="javascript:void(0)" class="block">
						<div class="block-cover">
							<span class="icon-start"></span>
							<img src="<?= PUBLICS ?>Home/images/live-list/cover-2.jpg">
						</div>
						<div class="block-desc">
							感受下今天的氛围！
						</div>
					</a>
					<a href="javascript:void(0)" class="block">
						<div class="block-cover">
							<span class="icon-start"></span>
							<img src="<?= PUBLICS ?>Home/images/live-list/cover-3.jpg">
						</div>
						<div class="block-desc">
							感受下今天的氛围！
						</div>
					</a>
					<a href="javascript:void(0)" class="block">
						<div class="block-cover">
							<span class="icon-start"></span>
							<img src="<?= PUBLICS ?>Home/images/live-list/cover-4.jpg">
						</div>
						<div class="block-desc">
							感受下今天的氛围！
						</div>
					</a>
				</div>
			</section>


			<!-- 在线直播 -->
			<section class="section">
				<div class="section-title">
					<span class="main-title">在线直播</span>
					<span class="classify">
						<b class="active">全部</b>
						<b>潮流活动</b>
						<b>秀场直击</b>
						<b>美丽直播</b>
						<b>美妆课堂</b>
						<b>综艺娱乐</b>
						<b>生活态度</b>
					</span>
				</div>
				<div class="section-content">
					<a href="javascript:void(0)" class="block">
						<div class="block-cover">
							<span class="icon-start"></span>
							<img src="<?= PUBLICS ?>Home/images/live-list/cover-5.jpg">
						</div>
						<div class="block-desc">
							<span class="block-desc-name">感受下今天的氛围！</span>
							<span class="block-pv">74.8万</span>
						</div>
					</a>
					<a href="javascript:void(0)" class="block">
						<div class="block-cover">
							<span class="icon-start"></span>
							<img src="<?= PUBLICS ?>Home/images/live-list/cover-6.jpg">
						</div>
						<div class="block-desc">
							<span class="block-desc-name">感受下今天的氛围！</span>
							<span class="block-pv">74.8万</span>
						</div>
					</a>
					<a href="javascript:void(0)" class="block">
						<div class="block-cover">
							<span class="icon-start"></span>
							<img src="<?= PUBLICS ?>Home/images/live-list/cover-3.jpg">
						</div>
						<div class="block-desc">
							<span class="block-desc-name">感受下今天的氛围！</span>
							<span class="block-pv">74.8万</span>
						</div>
					</a>
					<a href="javascript:void(0)" class="block">
						<div class="block-cover">
							<span class="icon-start"></span>
							<img src="<?= PUBLICS ?>Home/images/live-list/cover-4.jpg">
						</div>
						<div class="block-desc">
							<span class="block-desc-name">感受下今天的氛围！</span>
							<span class="block-pv">74.8万</span>
						</div>
					</a>
					<a href="javascript:void(0)" class="block">
						<div class="block-cover">
							<span class="icon-start"></span>
							<img src="<?= PUBLICS ?>Home/images/live-list/cover-7.jpg">
						</div>
						<div class="block-desc">
							<span class="block-desc-name">感受下今天的氛围！</span>
							<span class="block-pv">74.8万</span>
						</div>
					</a>
					<a href="javascript:void(0)" class="block">
						<div class="block-cover">
							<span class="icon-start"></span>
							<img src="<?= PUBLICS ?>Home/images/live-list/cover-8.jpg">
						</div>
						<div class="block-desc">
							<span class="block-desc-name">感受下今天的氛围！</span>
							<span class="block-pv">74.8万</span>
						</div>
					</a>
					<a href="javascript:void(0)" class="block">
						<div class="block-cover">
							<span class="icon-start"></span>
							<img src="<?= PUBLICS ?>Home/images/live-list/cover-9.jpg">
						</div>
						<div class="block-desc">
							<span class="block-desc-name">感受下今天的氛围！</span>
							<span class="block-pv">74.8万</span>
						</div>
					</a>
					<a href="javascript:void(0)" class="block">
						<div class="block-cover">
							<span class="icon-start"></span>
							<img src="<?= PUBLICS ?>Home/images/live-list/cover-10.jpg">
						</div>
						<div class="block-desc">
							<span class="block-desc-name">感受下今天的氛围！</span>
							<span class="block-pv">74.8万</span>
						</div>
					</a>
					<a href="javascript:void(0)" class="block">
						<div class="block-cover">
							<span class="icon-start"></span>
							<img src="<?= PUBLICS ?>Home/images/live-list/cover-5.jpg">
						</div>
						<div class="block-desc">
							<span class="block-desc-name">感受下今天的氛围！</span>
							<span class="block-pv">74.8万</span>
						</div>
					</a>
					<a href="javascript:void(0)" class="block">
						<div class="block-cover">
							<span class="icon-start"></span>
							<img src="<?= PUBLICS ?>Home/images/live-list/cover-6.jpg">
						</div>
						<div class="block-desc">
							<span class="block-desc-name">感受下今天的氛围！</span>
							<span class="block-pv">74.8万</span>
						</div>
					</a>
					<a href="javascript:void(0)" class="block">
						<div class="block-cover">
							<span class="icon-start"></span>
							<img src="<?= PUBLICS ?>Home/images/live-list/cover-3.jpg">
						</div>
						<div class="block-desc">
							<span class="block-desc-name">感受下今天的氛围！</span>
							<span class="block-pv">74.8万</span>
						</div>
					</a>
					<a href="javascript:void(0)" class="block">
						<div class="block-cover">
							<span class="icon-start"></span>
							<img src="<?= PUBLICS ?>Home/images/live-list/cover-4.jpg">
						</div>
						<div class="block-desc">
							<span class="block-desc-name">感受下今天的氛围！</span>
							<span class="block-pv">74.8万</span>
						</div>
					</a>
					<a href="javascript:void(0)" class="block">
						<div class="block-cover">
							<span class="icon-start"></span>
							<img src="<?= PUBLICS ?>Home/images/live-list/cover-7.jpg">
						</div>
						<div class="block-desc">
							<span class="block-desc-name">感受下今天的氛围！</span>
							<span class="block-pv">74.8万</span>
						</div>
					</a>
					<a href="javascript:void(0)" class="block">
						<div class="block-cover">
							<span class="icon-start"></span>
							<img src="<?= PUBLICS ?>Home/images/live-list/cover-8.jpg">
						</div>
						<div class="block-desc">
							<span class="block-desc-name">感受下今天的氛围！</span>
							<span class="block-pv">74.8万</span>
						</div>
					</a>
					<a href="javascript:void(0)" class="block">
						<div class="block-cover">
							<span class="icon-start"></span>
							<img src="<?= PUBLICS ?>Home/images/live-list/cover-9.jpg">
						</div>
						<div class="block-desc">
							<span class="block-desc-name">感受下今天的氛围！</span>
							<span class="block-pv">74.8万</span>
						</div>
					</a>
					<a href="javascript:void(0)" class="block">
						<div class="block-cover">
							<span class="icon-start"></span>
							<img src="<?= PUBLICS ?>Home/images/live-list/cover-10.jpg">
						</div>
						<div class="block-desc">
							<span class="block-desc-name">感受下今天的氛围！</span>
							<span class="block-pv">74.8万</span>
						</div>
					</a>
					<a href="javascript:void(0)" class="block">
						<div class="block-cover">
							<span class="icon-start"></span>
							<img src="<?= PUBLICS ?>Home/images/live-list/cover-5.jpg">
						</div>
						<div class="block-desc">
							<span class="block-desc-name">感受下今天的氛围！</span>
							<span class="block-pv">74.8万</span>
						</div>
					</a>
					<a href="javascript:void(0)" class="block">
						<div class="block-cover">
							<span class="icon-start"></span>
							<img src="<?= PUBLICS ?>Home/images/live-list/cover-6.jpg">
						</div>
						<div class="block-desc">
							<span class="block-desc-name">感受下今天的氛围！</span>
							<span class="block-pv">74.8万</span>
						</div>
					</a>
					<a href="javascript:void(0)" class="block">
						<div class="block-cover">
							<span class="icon-start"></span>
							<img src="<?= PUBLICS ?>Home/images/live-list/cover-3.jpg">
						</div>
						<div class="block-desc">
							<span class="block-desc-name">感受下今天的氛围！</span>
							<span class="block-pv">74.8万</span>
						</div>
					</a>
					<a href="javascript:void(0)" class="block">
						<div class="block-cover">
							<span class="icon-start"></span>
							<img src="<?= PUBLICS ?>Home/images/live-list/cover-4.jpg">
						</div>
						<div class="block-desc">
							<span class="block-desc-name">感受下今天的氛围！</span>
							<span class="block-pv">74.8万</span>
						</div>
					</a>
					<a href="javascript:void(0)" class="block">
						<div class="block-cover">
							<span class="icon-start"></span>
							<img src="<?= PUBLICS ?>Home/images/live-list/cover-7.jpg">
						</div>
						<div class="block-desc">
							<span class="block-desc-name">感受下今天的氛围！</span>
							<span class="block-pv">74.8万</span>
						</div>
					</a>
					<a href="javascript:void(0)" class="block">
						<div class="block-cover">
							<span class="icon-start"></span>
							<img src="<?= PUBLICS ?>Home/images/live-list/cover-8.jpg">
						</div>
						<div class="block-desc">
							<span class="block-desc-name">感受下今天的氛围！</span>
							<span class="block-pv">74.8万</span>
						</div>
					</a>
					<a href="javascript:void(0)" class="block">
						<div class="block-cover">
							<span class="icon-start"></span>
							<img src="<?= PUBLICS ?>Home/images/live-list/cover-9.jpg">
						</div>
						<div class="block-desc">
							<span class="block-desc-name">感受下今天的氛围！</span>
							<span class="block-pv">74.8万</span>
						</div>
					</a>
					<a href="javascript:void(0)" class="block">
						<div class="block-cover">
							<span class="icon-start"></span>
							<img src="<?= PUBLICS ?>Home/images/live-list/cover-10.jpg">
						</div>
						<div class="block-desc">
							<span class="block-desc-name">感受下今天的氛围！</span>
							<span class="block-pv">74.8万</span>
						</div>
					</a>
					<a href="javascript:void(0)" class="block">
						<div class="block-cover">
							<span class="icon-start"></span>
							<img src="<?= PUBLICS ?>Home/images/live-list/cover-5.jpg">
						</div>
						<div class="block-desc">
							<span class="block-desc-name">感受下今天的氛围！</span>
							<span class="block-pv">74.8万</span>
						</div>
					</a>
					<a href="javascript:void(0)" class="block">
						<div class="block-cover">
							<span class="icon-start"></span>
							<img src="<?= PUBLICS ?>Home/images/live-list/cover-6.jpg">
						</div>
						<div class="block-desc">
							<span class="block-desc-name">感受下今天的氛围！</span>
							<span class="block-pv">74.8万</span>
						</div>
					</a>
					<a href="javascript:void(0)" class="block">
						<div class="block-cover">
							<span class="icon-start"></span>
							<img src="<?= PUBLICS ?>Home/images/live-list/cover-3.jpg">
						</div>
						<div class="block-desc">
							<span class="block-desc-name">感受下今天的氛围！</span>
							<span class="block-pv">74.8万</span>
						</div>
					</a>
					<a href="javascript:void(0)" class="block">
						<div class="block-cover">
							<span class="icon-start"></span>
							<img src="<?= PUBLICS ?>Home/images/live-list/cover-4.jpg">
						</div>
						<div class="block-desc">
							<span class="block-desc-name">感受下今天的氛围！</span>
							<span class="block-pv">74.8万</span>
						</div>
					</a>
					<a href="javascript:void(0)" class="block">
						<div class="block-cover">
							<span class="icon-start"></span>
							<img src="<?= PUBLICS ?>Home/images/live-list/cover-7.jpg">
						</div>
						<div class="block-desc">
							<span class="block-desc-name">感受下今天的氛围！</span>
							<span class="block-pv">74.8万</span>
						</div>
					</a>
					<a href="javascript:void(0)" class="block">
						<div class="block-cover">
							<span class="icon-start"></span>
							<img src="<?= PUBLICS ?>Home/images/live-list/cover-8.jpg">
						</div>
						<div class="block-desc">
							<span class="block-desc-name">感受下今天的氛围！</span>
							<span class="block-pv">74.8万</span>
						</div>
					</a>
					<a href="javascript:void(0)" class="block">
						<div class="block-cover">
							<span class="icon-start"></span>
							<img src="<?= PUBLICS ?>Home/images/live-list/cover-9.jpg">
						</div>
						<div class="block-desc">
							<span class="block-desc-name">感受下今天的氛围！</span>
							<span class="block-pv">74.8万</span>
						</div>
					</a>
					<a href="javascript:void(0)" class="block">
						<div class="block-cover">
							<span class="icon-start"></span>
							<img src="<?= PUBLICS ?>Home/images/live-list/cover-10.jpg">
						</div>
						<div class="block-desc">
							<span class="block-desc-name">感受下今天的氛围！</span>
							<span class="block-pv">74.8万</span>
						</div>
					</a>
				</div>
			</section>
		</div>
	</div>

<script>
	$('.classify b').click(function(){
		$(this).addClass('active').siblings().removeClass('active');
	})
</script>