
	<!-- 大屏banner -->
	<div class="big-banner">
		<div class="fluid">
			<div class="lg">
				<img src="<?= PUBLICS ?>Home/images/live/lg.jpg" alt="">
			</div>
			<div class="sm-list">
				<div class="sm active">
					<img src="<?= PUBLICS ?>Home/images/live/sm-1.jpg" alt="">
				</div>
				<div class="sm">
					<img src="<?= PUBLICS ?>Home/images/live/sm-2.jpg" alt="">
				</div>
				<div class="sm">
					<img src="<?= PUBLICS ?>Home/images/live/sm-3.jpg" alt="">
				</div>
				<div class="sm">
					<img src="<?= PUBLICS ?>Home/images/live/sm-4.jpg" alt="">
				</div>
				<div class="sm">
					<img src="<?= PUBLICS ?>Home/images/live/sm-5.jpg" alt="">
				</div>
			</div>
		</div>
	</div>

	<!-- 页面主体内容部分 -->
	<div class="main">
		<div class="main-content">
			<section class="section pd">
				<div class="section-inner">
					<div class="block-lg">
						<div class="block-title">
							<span class="main-title">潮流活动</span>
							<span class="sub-title">颜值燃爆眼球</span>
						</div>
						<div class="block-content">
							<a href="javascript:void(0)" class="block-item gap">
								<span class="icon-start"></span>
								<img src="<?= PUBLICS ?>Home/images/live/block-lg-1.png" alt="">
								<span class="block-item-desc">突然好像吃美少女味的泡面</span>
							</a>
							<a href="javascript:void(0)" class="block-item">
								<span class="icon-start"></span>
								<img src="<?= PUBLICS ?>Home/images/live/block-lg-2.png" alt="">
								<span class="block-item-desc">戏子的安静直播间</span>
							</a>
							<a href="javascript:void(0)" class="block-item">
								<span class="icon-start"></span>
								<img src="<?= PUBLICS ?>Home/images/live/block-lg-3.png" alt="">
								<span class="block-item-desc">原来是美少女啊</span>
							</a>
							<a href="javascript:void(0)" class="block-item">
								<span class="icon-start"></span>
								<img src="<?= PUBLICS ?>Home/images/live/block-lg-4.png" alt="">
								<span class="block-item-desc">南风知我意，吹梦到西洲</span>
							</a>
						</div>
					</div>
					<div class="block-lg gap">
						<div class="block-title">
							<span class="main-title red">秀场直击</span>
							<span class="sub-title">颜值燃爆眼球</span>
						</div>
						<div class="block-content">
							<a href="javascript:void(0)" class="block-item">
								<span class="icon-start"></span>
								<img src="<?= PUBLICS ?>Home/images/live/block-lg-1.png" alt="">
								<span class="block-item-desc">突然好像吃美少女味的泡面</span>
							</a>
							<a href="javascript:void(0)" class="block-item">
								<span class="icon-start"></span>
								<img src="<?= PUBLICS ?>Home/images/live/block-lg-2.png" alt="">
								<span class="block-item-desc">戏子的安静直播间</span>
							</a>
							<a href="javascript:void(0)" class="block-item">
								<span class="icon-start"></span>
								<img src="<?= PUBLICS ?>Home/images/live/block-lg-3.png" alt="">
								<span class="block-item-desc">原来是美少女啊</span>
							</a>
							<a href="javascript:void(0)" class="block-item">
								<span class="icon-start"></span>
								<img src="<?= PUBLICS ?>Home/images/live/block-lg-4.png" alt="">
								<span class="block-item-desc">南风知我意，吹梦到西洲</span>
							</a>
						</div>
					</div>
					<div class="block-lg">
						<div class="block-title">
							<span class="main-title">美丽直播</span>
							<span class="sub-title">颜值燃爆眼球</span>
						</div>
						<div class="block-content">
							<a href="javascript:void(0)" class="block-item">
								<span class="icon-start"></span>
								<img src="<?= PUBLICS ?>Home/images/live/block-lg-1.png" alt="">
								<span class="block-item-desc">突然好像吃美少女味的泡面</span>
							</a>
							<a href="javascript:void(0)" class="block-item">
								<span class="icon-start"></span>
								<img src="<?= PUBLICS ?>Home/images/live/block-lg-2.png" alt="">
								<span class="block-item-desc">戏子的安静直播间</span>
							</a>
							<a href="javascript:void(0)" class="block-item">
								<span class="icon-start"></span>
								<img src="<?= PUBLICS ?>Home/images/live/block-lg-3.png" alt="">
								<span class="block-item-desc">原来是美少女啊</span>
							</a>
							<a href="javascript:void(0)" class="block-item">
								<span class="icon-start"></span>
								<img src="<?= PUBLICS ?>Home/images/live/block-lg-4.png" alt="">
								<span class="block-item-desc">南风知我意，吹梦到西洲</span>
							</a>
						</div>
					</div>

					<div class="block-lg gap">
						<div class="block-title">
							<span class="main-title">美妆课堂</span>
							<span class="sub-title">颜值燃爆眼球</span>
						</div>
						<div class="block-content">
							<a href="javascript:void(0)" class="block-item">
								<span class="icon-start"></span>
								<img src="<?= PUBLICS ?>Home/images/live/block-lg-1.png" alt="">
								<span class="block-item-desc">突然好像吃美少女味的泡面</span>
							</a>
							<a href="javascript:void(0)" class="block-item">
								<span class="icon-start"></span>
								<img src="<?= PUBLICS ?>Home/images/live/block-lg-2.png" alt="">
								<span class="block-item-desc">戏子的安静直播间</span>
							</a>
							<a href="javascript:void(0)" class="block-item">
								<span class="icon-start"></span>
								<img src="<?= PUBLICS ?>Home/images/live/block-lg-3.png" alt="">
								<span class="block-item-desc">原来是美少女啊</span>
							</a>
							<a href="javascript:void(0)" class="block-item">
								<span class="icon-start"></span>
								<img src="<?= PUBLICS ?>Home/images/live/block-lg-4.png" alt="">
								<span class="block-item-desc">南风知我意，吹梦到西洲</span>
							</a>
						</div>
					</div>
					<div class="block-lg gap">
						<div class="block-title">
							<span class="main-title">综艺娱乐</span>
							<span class="sub-title">颜值燃爆眼球</span>
						</div>
						<div class="block-content">
							<a href="javascript:void(0)" class="block-item">
								<span class="icon-start"></span>
								<img src="<?= PUBLICS ?>Home/images/live/block-lg-1.png" alt="">
								<span class="block-item-desc">突然好像吃美少女味的泡面</span>
							</a>
							<a href="javascript:void(0)" class="block-item">
								<span class="icon-start"></span>
								<img src="<?= PUBLICS ?>Home/images/live/block-lg-2.png" alt="">
								<span class="block-item-desc">戏子的安静直播间</span>
							</a>
							<a href="javascript:void(0)" class="block-item">
								<span class="icon-start"></span>
								<img src="<?= PUBLICS ?>Home/images/live/block-lg-3.png" alt="">
								<span class="block-item-desc">原来是美少女啊</span>
							</a>
							<a href="javascript:void(0)" class="block-item">
								<span class="icon-start"></span>
								<img src="<?= PUBLICS ?>Home/images/live/block-lg-4.png" alt="">
								<span class="block-item-desc">南风知我意，吹梦到西洲</span>
							</a>
						</div>
					</div>
					<div class="block-lg">
						<div class="block-title">
							<span class="main-title">生活态度</span>
							<span class="sub-title">颜值燃爆眼球</span>
						</div>
						<div class="block-content">
							<a href="javascript:void(0)" class="block-item">
								<span class="icon-start"></span>
								<img src="<?= PUBLICS ?>Home/images/live/block-lg-1.png" alt="">
								<span class="block-item-desc">突然好像吃美少女味的泡面</span>
							</a>
							<a href="javascript:void(0)" class="block-item">
								<span class="icon-start"></span>
								<img src="<?= PUBLICS ?>Home/images/live/block-lg-2.png" alt="">
								<span class="block-item-desc">戏子的安静直播间</span>
							</a>
							<a href="javascript:void(0)" class="block-item">
								<span class="icon-start"></span>
								<img src="<?= PUBLICS ?>Home/images/live/block-lg-3.png" alt="">
								<span class="block-item-desc">原来是美少女啊</span>
							</a>
							<a href="javascript:void(0)" class="block-item">
								<span class="icon-start"></span>
								<img src="<?= PUBLICS ?>Home/images/live/block-lg-4.png" alt="">
								<span class="block-item-desc">南风知我意，吹梦到西洲</span>
							</a>
						</div>
					</div>
				</div>
			</section>

			<section class="section">
				<div class="section-title">
					热门直播
				</div>
				<div class="section-content">
					<a href="javascript:void(0)">
						<div class="block-sm">
							<div class="block-sm-img">
								<img src="<?= PUBLICS ?>Home/images/live/block-sm-1.png" alt="">
								<span class="icon-s"></span>
							</div>
							<div class="block-sm-desc">
								<span class="sm-name">华美直播现在报道</span>
								<span class="pv">74.8万</span>
							</div>
						</div>
					</a>
					<a href="javascript:void(0)">
						<div class="block-sm">
							<div class="block-sm-img">
								<img src="<?= PUBLICS ?>Home/images/live/block-sm-2.png" alt="">
								<span class="icon-s"></span>
							</div>
							<div class="block-sm-desc">
								<span class="sm-name">六本木展望台 日旅国际</span>
								<span class="pv">3650</span>
							</div>
						</div>
					</a>
					<a href="javascript:void(0)">
						<div class="block-sm">
							<div class="block-sm-img">
								<img src="<?= PUBLICS ?>Home/images/live/block-sm-3.png" alt="">
								<span class="icon-s"></span>
							</div>
							<div class="block-sm-desc">
								<span class="sm-name">华美直播现在报道</span>
								<span class="pv">74.8万</span>
							</div>
						</div>
					</a>
					<a href="javascript:void(0)">
						<div class="block-sm">
							<div class="block-sm-img">
								<img src="<?= PUBLICS ?>Home/images/live/block-sm-4.png" alt="">
								<span class="icon-s"></span>
							</div>
							<div class="block-sm-desc">
								<span class="sm-name">六本木展望台 日旅国际</span>
								<span class="pv">3650</span>
							</div>
						</div>
					</a>
					<a href="javascript:void(0)">
						<div class="block-sm">
							<div class="block-sm-img">
								<img src="<?= PUBLICS ?>Home/images/live/block-sm-1.png" alt="">
								<span class="icon-s"></span>
							</div>
							<div class="block-sm-desc">
								<span class="sm-name">华美直播现在报道</span>
								<span class="pv">74.8万</span>
							</div>
						</div>
					</a>
					<a href="javascript:void(0)">
						<div class="block-sm">
							<div class="block-sm-img">
								<img src="<?= PUBLICS ?>Home/images/live/block-sm-2.png" alt="">
								<span class="icon-s"></span>
							</div>
							<div class="block-sm-desc">
								<span class="sm-name">六本木展望台 日旅国际</span>
								<span class="pv">3650</span>
							</div>
						</div>
					</a>
					<a href="javascript:void(0)">
						<div class="block-sm">
							<div class="block-sm-img">
								<img src="<?= PUBLICS ?>Home/images/live/block-sm-3.png" alt="">
								<span class="icon-s"></span>
							</div>
							<div class="block-sm-desc">
								<span class="sm-name">华美直播现在报道</span>
								<span class="pv">74.8万</span>
							</div>
						</div>
					</a>
					<a href="javascript:void(0)">
						<div class="block-sm">
							<div class="block-sm-img">
								<img src="<?= PUBLICS ?>Home/images/live/block-sm-4.png" alt="">
								<span class="icon-s"></span>
							</div>
							<div class="block-sm-desc">
								<span class="sm-name">六本木展望台 日旅国际</span>
								<span class="pv">3650</span>
							</div>
						</div>
					</a>
				</div>
			</section>

			<section class="section">
				<div class="section-title">
					正在直播
					<a href="javascript:void(0)">查看全部>></a>
				</div>
				<div class="section-content">
					<a href="javascript:void(0)">
						<div class="block-sm">
							<div class="block-sm-img">
								<img src="<?= PUBLICS ?>Home/images/live/block-sm-1.png" alt="">
								<span class="icon-s"></span>
							</div>
							<div class="block-sm-desc">
								<span class="sm-name">华美直播现在报道</span>
								<span class="pv">74.8万</span>
							</div>
						</div>
					</a>
					<a href="javascript:void(0)">
						<div class="block-sm">
							<div class="block-sm-img">
								<img src="<?= PUBLICS ?>Home/images/live/block-sm-2.png" alt="">
								<span class="icon-s"></span>
							</div>
							<div class="block-sm-desc">
								<span class="sm-name">六本木展望台 日旅国际</span>
								<span class="pv">3650</span>
							</div>
						</div>
					</a>
					<a href="javascript:void(0)">
						<div class="block-sm">
							<div class="block-sm-img">
								<img src="<?= PUBLICS ?>Home/images/live/block-sm-3.png" alt="">
								<span class="icon-s"></span>
							</div>
							<div class="block-sm-desc">
								<span class="sm-name">华美直播现在报道</span>
								<span class="pv">74.8万</span>
							</div>
						</div>
					</a>
					<a href="javascript:void(0)">
						<div class="block-sm">
							<div class="block-sm-img">
								<img src="<?= PUBLICS ?>Home/images/live/block-sm-4.png" alt="">
								<span class="icon-s"></span>
							</div>
							<div class="block-sm-desc">
								<span class="sm-name">六本木展望台 日旅国际</span>
								<span class="pv">3650</span>
							</div>
						</div>
					</a>
					<a href="javascript:void(0)">
						<div class="block-sm">
							<div class="block-sm-img">
								<img src="<?= PUBLICS ?>Home/images/live/block-sm-1.png" alt="">
								<span class="icon-s"></span>
							</div>
							<div class="block-sm-desc">
								<span class="sm-name">华美直播现在报道</span>
								<span class="pv">74.8万</span>
							</div>
						</div>
					</a>
					<a href="javascript:void(0)">
						<div class="block-sm">
							<div class="block-sm-img">
								<img src="<?= PUBLICS ?>Home/images/live/block-sm-2.png" alt="">
								<span class="icon-s"></span>
							</div>
							<div class="block-sm-desc">
								<span class="sm-name">六本木展望台 日旅国际</span>
								<span class="pv">3650</span>
							</div>
						</div>
					</a>
					<a href="javascript:void(0)">
						<div class="block-sm">
							<div class="block-sm-img">
								<img src="<?= PUBLICS ?>Home/images/live/block-sm-3.png" alt="">
								<span class="icon-s"></span>
							</div>
							<div class="block-sm-desc">
								<span class="sm-name">华美直播现在报道</span>
								<span class="pv">74.8万</span>
							</div>
						</div>
					</a>
					<a href="javascript:void(0)">
						<div class="block-sm">
							<div class="block-sm-img">
								<img src="<?= PUBLICS ?>Home/images/live/block-sm-4.png" alt="">
								<span class="icon-s"></span>
							</div>
							<div class="block-sm-desc">
								<span class="sm-name">六本木展望台 日旅国际</span>
								<span class="pv">3650</span>
							</div>
						</div>
					</a>
					<a href="javascript:void(0)">
						<div class="block-sm">
							<div class="block-sm-img">
								<img src="<?= PUBLICS ?>Home/images/live/block-sm-1.png" alt="">
								<span class="icon-s"></span>
							</div>
							<div class="block-sm-desc">
								<span class="sm-name">华美直播现在报道</span>
								<span class="pv">74.8万</span>
							</div>
						</div>
					</a>
					<a href="javascript:void(0)">
						<div class="block-sm">
							<div class="block-sm-img">
								<img src="<?= PUBLICS ?>Home/images/live/block-sm-2.png" alt="">
								<span class="icon-s"></span>
							</div>
							<div class="block-sm-desc">
								<span class="sm-name">六本木展望台 日旅国际</span>
								<span class="pv">3650</span>
							</div>
						</div>
					</a>
					<a href="javascript:void(0)">
						<div class="block-sm">
							<div class="block-sm-img">
								<img src="<?= PUBLICS ?>Home/images/live/block-sm-3.png" alt="">
								<span class="icon-s"></span>
							</div>
							<div class="block-sm-desc">
								<span class="sm-name">华美直播现在报道</span>
								<span class="pv">74.8万</span>
							</div>
						</div>
					</a>
					<a href="javascript:void(0)">
						<div class="block-sm">
							<div class="block-sm-img">
								<img src="<?= PUBLICS ?>Home/images/live/block-sm-4.png" alt="">
								<span class="icon-s"></span>
							</div>
							<div class="block-sm-desc">
								<span class="sm-name">六本木展望台 日旅国际</span>
								<span class="pv">3650</span>
							</div>
						</div>
					</a>
					<a href="javascript:void(0)">
						<div class="block-sm">
							<div class="block-sm-img">
								<img src="<?= PUBLICS ?>Home/images/live/block-sm-1.png" alt="">
								<span class="icon-s"></span>
							</div>
							<div class="block-sm-desc">
								<span class="sm-name">华美直播现在报道</span>
								<span class="pv">74.8万</span>
							</div>
						</div>
					</a>
					<a href="javascript:void(0)">
						<div class="block-sm">
							<div class="block-sm-img">
								<img src="<?= PUBLICS ?>Home/images/live/block-sm-2.png" alt="">
								<span class="icon-s"></span>
							</div>
							<div class="block-sm-desc">
								<span class="sm-name">六本木展望台 日旅国际</span>
								<span class="pv">3650</span>
							</div>
						</div>
					</a>
					<a href="javascript:void(0)">
						<div class="block-sm">
							<div class="block-sm-img">
								<img src="<?= PUBLICS ?>Home/images/live/block-sm-3.png" alt="">
								<span class="icon-s"></span>
							</div>
							<div class="block-sm-desc">
								<span class="sm-name">华美直播现在报道</span>
								<span class="pv">74.8万</span>
							</div>
						</div>
					</a>
					<a href="javascript:void(0)">
						<div class="block-sm">
							<div class="block-sm-img">
								<img src="<?= PUBLICS ?>Home/images/live/block-sm-4.png" alt="">
								<span class="icon-s"></span>
							</div>
							<div class="block-sm-desc">
								<span class="sm-name">六本木展望台 日旅国际</span>
								<span class="pv">3650</span>
							</div>
						</div>
					</a>
				</div>
			</section>
		</div>
	</div>
<script>
	$(function(){
		$('.sm').click(function(){
			$(this).addClass('active').siblings().removeClass('active')
		})
	})
</script>



