
	<!-- 幻灯片模块 -->
	<section class="carousel">
		<div class="carousel-window">
			<div class="carousel-inner">
				<div class="carousel-item"><img src="<?= PUBLICS ?>Home/images/discuss/carousel-item.jpg" alt=""></div>
				<div class="carousel-item"><img src="<?= PUBLICS ?>Home/images/discuss/carousel-item.jpg" alt=""></div>
				<div class="carousel-item"><img src="<?= PUBLICS ?>Home/images/discuss/carousel-item.jpg" alt=""></div>
			</div>
			<div class="carousel-index">
				<span class="active"></span><span></span><span></span>
			</div>
		</div>
	</section>

	<!-- 主体内容部分 -->
	<section class="main">
		<div class="main-center">
			
			<!-- 今日热点模块 -->
			<div class="hotspot">
				<div class="hotspot-l">
					
					<div class="sm-module module-margin">
						<a href="<?php echo U('Comment/lst');?>" class="item-link">
							<div class="img">
								<img src="<?= PUBLICS ?>Home/images/discuss/sm-1.jpg" alt="">
							</div>
							<div class="desc">如何打造70年代复古风？超模Lili Sumner ins中有答案</div>
						</a>
					</div>
					
					<div class="sm-module">
						<a href="<?php echo U('Comment/lst');?>" class="item-link">
							<div class="img">
								<img src="<?= PUBLICS ?>Home/images/discuss/sm-2.jpg" alt="">
							</div>
							<div class="desc">Prada2018早春女装秀</div>
						</a>
					</div>

					<div class="sm-module module-margin">
						<a href="<?php echo U('Comment/lst');?>" class="item-link">
							<div class="img">
								<img src="<?= PUBLICS ?>Home/images/discuss/sm-3.jpg" alt="">
							</div>
							<div class="desc">别把70年代女神不当缪斯 她们穿睡衣看秀还嫩过小鲜花</div>
						</a>
					</div>

					<div class="sm-module">
						<a href="<?php echo U('Comment/lst');?>" class="item-link">
							<div class="img"><img src="<?= PUBLICS ?>Home/images/discuss/sm-4.jpg" alt=""></div>
							<div class="desc">初夏潮流点大集合让你1周5天不重样</div>
						</a>
					</div>
				</div>
				<div class="hotspot-r">
					<div class="hotspot-title">
						<div class="hotspot-tag">今日热点</div>
						<div class="hotspot-tag-icon"></div>
					</div>
					<div class="hotspot-desc">
						<div class="hotspot-desc-item has-bottom">
							<a href="javascript:void(0)">时尚日记携刘诗诗跨界设计</a>
						</div>
						<div class="hotspot-desc-item has-bottom">
							<a href="javascript:void(0)">迪士尼童星变超模?坐拥4千万粉丝超会穿!</a>
						</div>
						<div class="hotspot-desc-item has-bottom">
							<a href="javascript:void(0)">裤管越大越时髦！2017年阔腿裤还要继续火...</a>
						</div>
						<div class="hotspot-desc-item">
							<a href="javascript:void(0)">无热血，不少年！</a>
						</div>
					</div>
					<div class="hotspot-r-img">
						<img src="<?= PUBLICS ?>Home/images/discuss/hotspot-r-img.jpg" alt="">
					</div>
				</div>
			</div>		


			<!-- 时尚潮流模块 -->
			<div class="fashion section">
				<div class="section-title">
					<img src="<?= PUBLICS ?>Home/images/discuss/fashion-title.png" alt="">
				</div>
				<div class="fashion-inner">
					<div class="md-module module-l">
						<a href="<?php echo U('Comment/lst');?>" class="item-link">
							<div class="img"><img src="<?= PUBLICS ?>Home/images/discuss/md-1.jpg" alt=""></div>
							<div class="desc">刘雯成香奈儿秀场"刷屏狂魔" 最大咖看客是摩纳哥公主</div>
						</a>
					</div>

					<div class="md-module module-r">
						<a href="<?php echo U('Comment/lst');?>" class="item-link">
							<div class="img"><img src="<?= PUBLICS ?>Home/images/discuss/md-2.jpg" alt=""></div>
							<div class="desc">壕到飞起 碧昂斯女儿礼服售价超62万人民币！</div>
						</a>
					</div>
				</div>
				<div class="section-sm-inner">
					<div class="sm-module module-margin">
						<a href="<?php echo U('Comment/lst');?>" class="item-link">
							<div class="img"><img src="<?= PUBLICS ?>Home/images/discuss/sm-1.jpg" alt=""></div>
							<div class="desc">如何打造70年代复古风？超模Lili Sumner ins中有答案</div>
						</a>
					</div>

					<div class="sm-module module-margin">
						<a href="<?php echo U('Comment/lst');?>" class="item-link">
							<div class="img"><img src="<?= PUBLICS ?>Home/images/discuss/sm-2.jpg" alt=""></div>
							<div class="desc">Prada2018早春女装秀</div>
						</a>
					</div>

					<div class="sm-module">
						<a href="<?php echo U('Comment/lst');?>" class="item-link">
							<div class="img"><img src="<?= PUBLICS ?>Home/images/discuss/sm-5.jpg" alt=""></div>
							<div class="desc">个高但腿形不完美怎么办？穿宽裤不仅流行还舒适透气</div>
						</a>
					</div>

					<div class="sm-module module-margin">
						<a href="<?php echo U('Comment/lst');?>" class="item-link">
							<div class="img"><img src="<?= PUBLICS ?>Home/images/discuss/sm-1.jpg" alt=""></div>
							<div class="desc">如何打造70年代复古风？超模Lili Sumner ins中有答案</div>
						</a>
					</div>

					<div class="sm-module module-margin">
						<a href="<?php echo U('Comment/lst');?>" class="item-link">
							<div class="img"><img src="<?= PUBLICS ?>Home/images/discuss/sm-2.jpg" alt=""></div>
							<div class="desc">Prada2018早春女装秀</div>
						</a>
					</div>

					<div class="sm-module">
						<a href="<?php echo U('Comment/lst');?>" class="item-link">
							<div class="img"><img src="<?= PUBLICS ?>Home/images/discuss/sm-5.jpg" alt=""></div>
							<div class="desc">个高但腿形不完美怎么办？穿宽裤不仅流行还舒适透气</div>
						</a>
					</div>

					<div class="sm-module module-margin">
						<a href="<?php echo U('Comment/lst');?>" class="item-link">
							<div class="img"><img src="<?= PUBLICS ?>Home/images/discuss/sm-1.jpg" alt=""></div>
							<div class="desc">如何打造70年代复古风？超模Lili Sumner ins中有答案</div>
						</a>
					</div>

					<div class="sm-module module-margin">
						<a href="<?php echo U('Comment/lst');?>" class="item-link">
							<div class="img"><img src="<?= PUBLICS ?>Home/images/discuss/sm-2.jpg" alt=""></div>
							<div class="desc">Prada2018早春女装秀</div>
						</a>
					</div>

					<div class="sm-module">
						<a href="<?php echo U('Comment/lst');?>" class="item-link">
							<div class="img"><img src="<?= PUBLICS ?>Home/images/discuss/sm-5.jpg" alt=""></div>
							<div class="desc">个高但腿形不完美怎么办？穿宽裤不仅流行还舒适透气</div>
						</a>
					</div>
				</div>
			</div>

			
			<!-- 时尚穿搭模块 -->
			<div class="wear section">
				<div class="section-title">
					<img src="<?= PUBLICS ?>Home/images/discuss/wear-title.png" alt="">
				</div>
				<div class="wear-inner">

					<div class="md-module module-l">
						<a href="<?php echo U('Comment/lst');?>" class="item-link">
							<div class="img"><img src="<?= PUBLICS ?>Home/images/discuss/md-1.jpg" alt=""></div>
							<div class="desc">刘雯成香奈儿秀场"刷屏狂魔" 最大咖看客是摩纳哥公主</div>
						</a>
					</div>

					<div class="md-module module-r">
						<a href="<?php echo U('Comment/lst');?>" class="item-link">
							<div class="img"><img src="<?= PUBLICS ?>Home/images/discuss/md-2.jpg" alt=""></div>
							<div class="desc">壕到飞起 碧昂斯女儿礼服售价超62万人民币！</div>
						</a>
					</div>

				</div>
				<div class="section-sm-inner">

					<div class="sm-module module-margin">
						<a href="<?php echo U('Comment/lst');?>" class="item-link">
							<div class="img"><img src="<?= PUBLICS ?>Home/images/discuss/sm-1.jpg" alt=""></div>
							<div class="desc">如何打造70年代复古风？超模Lili Sumner ins中有答案</div>
						</a>
					</div>

					<div class="sm-module module-margin">
						<a href="<?php echo U('Comment/lst');?>" class="item-link">
							<div class="img"><img src="<?= PUBLICS ?>Home/images/discuss/sm-2.jpg" alt=""></div>
							<div class="desc">Prada2018早春女装秀</div>
						</a>
					</div>

					<div class="sm-module">
						<a href="<?php echo U('Comment/lst');?>" class="item-link">
							<div class="img"><img src="<?= PUBLICS ?>Home/images/discuss/sm-5.jpg" alt=""></div>
							<div class="desc">个高但腿形不完美怎么办？穿宽裤不仅流行还舒适透气</div>
						</a>
					</div>

					<div class="sm-module module-margin">
						<a href="<?php echo U('Comment/lst');?>" class="item-link">
							<div class="img"><img src="<?= PUBLICS ?>Home/images/discuss/sm-1.jpg" alt=""></div>
							<div class="desc">如何打造70年代复古风？超模Lili Sumner ins中有答案</div>
						</a>
					</div>

					<div class="sm-module module-margin">
						<a href="<?php echo U('Comment/lst');?>" class="item-link">
							<div class="img"><img src="<?= PUBLICS ?>Home/images/discuss/sm-2.jpg" alt=""></div>
							<div class="desc">Prada2018早春女装秀</div>
						</a>
					</div>

					<div class="sm-module">
						<a href="<?php echo U('Comment/lst');?>" class="item-link">
							<div class="img"><img src="<?= PUBLICS ?>Home/images/discuss/sm-5.jpg" alt=""></div>
							<div class="desc">个高但腿形不完美怎么办？穿宽裤不仅流行还舒适透气</div>
						</a>
					</div>

					<div class="sm-module module-margin">
						<a href="<?php echo U('Comment/lst');?>" class="item-link">
							<div class="img"><img src="<?= PUBLICS ?>Home/images/discuss/sm-1.jpg" alt=""></div>
							<div class="desc">如何打造70年代复古风？超模Lili Sumner ins中有答案</div>
						</a>
					</div>

					<div class="sm-module module-margin">
						<a href="<?php echo U('Comment/lst');?>" class="item-link">
							<div class="img"><img src="<?= PUBLICS ?>Home/images/discuss/sm-2.jpg" alt=""></div>
							<div class="desc">Prada2018早春女装秀</div>
						</a>
					</div>
					<div class="sm-module">
						<a href="<?php echo U('Comment/lst');?>" class="item-link">
							<div class="img"><img src="<?= PUBLICS ?>Home/images/discuss/sm-5.jpg" alt=""></div>
							<div class="desc">个高但腿形不完美怎么办？穿宽裤不仅流行还舒适透气</div>
						</a>
					</div>
				</div>
			</div>

			
			<!-- 珠宝腕表模块 -->
			<div class="jewelry section">
				<div class="section-title">
					<img src="<?= PUBLICS ?>Home/images/discuss/jewelry-title.png" alt="">
				</div>
				<div class="jewelry-inner">
					<div class="md-module module-l">
						<a href="<?php echo U('Comment/lst');?>" class="item-link">
							<div class="img"><img src="<?= PUBLICS ?>Home/images/discuss/md-1.jpg" alt=""></div>
							<div class="desc">刘雯成香奈儿秀场"刷屏狂魔" 最大咖看客是摩纳哥公主</div>
						</a>
					</div>

					<div class="md-module module-r">
						<a href="<?php echo U('Comment/lst');?>" class="item-link">
							<div class="img"><img src="<?= PUBLICS ?>Home/images/discuss/md-2.jpg" alt=""></div>
							<div class="desc">壕到飞起 碧昂斯女儿礼服售价超62万人民币！</div>
						</a>
					</div>
				</div>
				<div class="section-sm-inner">
					<div class="sm-module module-margin">
						<a href="<?php echo U('Comment/lst');?>" class="item-link">
							<div class="img"><img src="<?= PUBLICS ?>Home/images/discuss/sm-1.jpg" alt=""></div>
							<div class="desc">如何打造70年代复古风？超模Lili Sumner ins中有答案</div>
						</a>
					</div>

					<div class="sm-module module-margin">
						<a href="<?php echo U('Comment/lst');?>" class="item-link">
							<div class="img"><img src="<?= PUBLICS ?>Home/images/discuss/sm-2.jpg" alt=""></div>
							<div class="desc">Prada2018早春女装秀</div>
						</a>
					</div>

					<div class="sm-module">
						<a href="<?php echo U('Comment/lst');?>" class="item-link">
							<div class="img"><img src="<?= PUBLICS ?>Home/images/discuss/sm-5.jpg" alt=""></div>
							<div class="desc">个高但腿形不完美怎么办？穿宽裤不仅流行还舒适透气</div>
						</a>
					</div>

					<div class="sm-module module-margin">
						<a href="<?php echo U('Comment/lst');?>" class="item-link">
							<div class="img"><img src="<?= PUBLICS ?>Home/images/discuss/sm-1.jpg" alt=""></div>
							<div class="desc">如何打造70年代复古风？超模Lili Sumner ins中有答案</div>
						</a>
					</div>

					<div class="sm-module module-margin">
						<a href="<?php echo U('Comment/lst');?>" class="item-link">
							<div class="img"><img src="<?= PUBLICS ?>Home/images/discuss/sm-2.jpg" alt=""></div>
							<div class="desc">Prada2018早春女装秀</div>
						</a>
					</div>

					<div class="sm-module">
						<a href="<?php echo U('Comment/lst');?>" class="item-link">
							<div class="img"><img src="<?= PUBLICS ?>Home/images/discuss/sm-5.jpg" alt=""></div>
							<div class="desc">个高但腿形不完美怎么办？穿宽裤不仅流行还舒适透气</div>
						</a>
					</div>

					<div class="sm-module module-margin">
						<a href="<?php echo U('Comment/lst');?>" class="item-link">
							<div class="img"><img src="<?= PUBLICS ?>Home/images/discuss/sm-1.jpg" alt=""></div>
							<div class="desc">如何打造70年代复古风？超模Lili Sumner ins中有答案</div>
						</a>
					</div>

					<div class="sm-module module-margin">
						<a href="<?php echo U('Comment/lst');?>" class="item-link">
							<div class="img"><img src="<?= PUBLICS ?>Home/images/discuss/sm-2.jpg" alt=""></div>
							<div class="desc">Prada2018早春女装秀</div>
						</a>
					</div>

					<div class="sm-module">
						<a href="<?php echo U('Comment/lst');?>" class="item-link">
							<div class="img"><img src="<?= PUBLICS ?>Home/images/discuss/sm-5.jpg" alt=""></div>
							<div class="desc">个高但腿形不完美怎么办？穿宽裤不仅流行还舒适透气</div>
						</a>
					</div>
				</div>
			</div>


			<!-- 鞋包专栏模块 -->
			<div class="shoe section">
				<div class="section-title">
					<img src="<?= PUBLICS ?>Home/images/discuss/shoe-title.png" alt="">
				</div>
				<div class="shoe-inner">
					<div class="md-module module-l">
						<a href="<?php echo U('Comment/lst');?>" class="item-link">
							<div class="img"><img src="<?= PUBLICS ?>Home/images/discuss/md-1.jpg" alt=""></div>
							<div class="desc">刘雯成香奈儿秀场"刷屏狂魔" 最大咖看客是摩纳哥公主</div>
						</a>
					</div>

					<div class="md-module module-r">
						<a href="<?php echo U('Comment/lst');?>" class="item-link">
							<div class="img"><img src="<?= PUBLICS ?>Home/images/discuss/md-2.jpg" alt=""></div>
							<div class="desc">壕到飞起 碧昂斯女儿礼服售价超62万人民币！</div>
						</a>
					</div>
				</div>
				<div class="section-sm-inner">
					<div class="sm-module module-margin">
						<a href="<?php echo U('Comment/lst');?>" class="item-link">
							<div class="img"><img src="<?= PUBLICS ?>Home/images/discuss/sm-1.jpg" alt=""></div>
							<div class="desc">如何打造70年代复古风？超模Lili Sumner ins中有答案</div>
						</a>
					</div>

					<div class="sm-module module-margin">
						<a href="<?php echo U('Comment/lst');?>" class="item-link">
							<div class="img"><img src="<?= PUBLICS ?>Home/images/discuss/sm-2.jpg" alt=""></div>
							<div class="desc">Prada2018早春女装秀</div>
						</a>
					</div>

					<div class="sm-module">
						<a href="<?php echo U('Comment/lst');?>" class="item-link">
							<div class="img"><img src="<?= PUBLICS ?>Home/images/discuss/sm-5.jpg" alt=""></div>
							<div class="desc">个高但腿形不完美怎么办？穿宽裤不仅流行还舒适透气</div>
						</a>
					</div>

					<div class="sm-module module-margin">
						<a href="<?php echo U('Comment/lst');?>" class="item-link">
							<div class="img"><img src="<?= PUBLICS ?>Home/images/discuss/sm-1.jpg" alt=""></div>
							<div class="desc">如何打造70年代复古风？超模Lili Sumner ins中有答案</div>
						</a>
					</div>

					<div class="sm-module module-margin">
						<a href="<?php echo U('Comment/lst');?>" class="item-link">
							<div class="img"><img src="<?= PUBLICS ?>Home/images/discuss/sm-2.jpg" alt=""></div>
							<div class="desc">Prada2018早春女装秀</div>
						</a>
					</div>

					<div class="sm-module">
						<a href="<?php echo U('Comment/lst');?>" class="item-link">
							<div class="img"><img src="<?= PUBLICS ?>Home/images/discuss/sm-5.jpg" alt=""></div>
							<div class="desc">个高但腿形不完美怎么办？穿宽裤不仅流行还舒适透气</div>
						</a>
					</div>

					<div class="sm-module module-margin">
						<a href="<?php echo U('Comment/lst');?>" class="item-link">
							<div class="img"><img src="<?= PUBLICS ?>Home/images/discuss/sm-1.jpg" alt=""></div>
							<div class="desc">如何打造70年代复古风？超模Lili Sumner ins中有答案</div>
						</a>
					</div>

					<div class="sm-module module-margin">
						<a href="<?php echo U('Comment/lst');?>" class="item-link">
							<div class="img"><img src="<?= PUBLICS ?>Home/images/discuss/sm-2.jpg" alt=""></div>
							<div class="desc">Prada2018早春女装秀</div>
						</a>
					</div>

					<div class="sm-module">
						<a href="<?php echo U('Comment/lst');?>" class="item-link">
							<div class="img"><img src="<?= PUBLICS ?>Home/images/discuss/sm-5.jpg" alt=""></div>
							<div class="desc">个高但腿形不完美怎么办？穿宽裤不仅流行还舒适透气</div>
						</a>
					</div>
				</div>
			</div>



			<!-- 彩妆护肤模块 -->
			<div class="makeup section">
				<div class="section-title">
					<img src="<?= PUBLICS ?>Home/images/discuss/makeup-title.png" alt="">
				</div>
				<div class="makeup-inner">
					<div class="md-module module-l">
						<a href="<?php echo U('Comment/lst');?>" class="item-link">
							<div class="img"><img src="<?= PUBLICS ?>Home/images/discuss/md-1.jpg" alt=""></div>
							<div class="desc">刘雯成香奈儿秀场"刷屏狂魔" 最大咖看客是摩纳哥公主</div>
						</a>
					</div>

					<div class="md-module module-r">
						<a href="<?php echo U('Comment/lst');?>" class="item-link">
							<div class="img"><img src="<?= PUBLICS ?>Home/images/discuss/md-2.jpg" alt=""></div>
							<div class="desc">壕到飞起 碧昂斯女儿礼服售价超62万人民币！</div>
						</a>
					</div>
				</div>
				<div class="section-sm-inner">
					<div class="sm-module module-margin">
						<a href="<?php echo U('Comment/lst');?>" class="item-link">
							<div class="img"><img src="<?= PUBLICS ?>Home/images/discuss/sm-1.jpg" alt=""></div>
							<div class="desc">如何打造70年代复古风？超模Lili Sumner ins中有答案</div>
						</a>
					</div>

					<div class="sm-module module-margin">
						<a href="<?php echo U('Comment/lst');?>" class="item-link">
							<div class="img"><img src="<?= PUBLICS ?>Home/images/discuss/sm-2.jpg" alt=""></div>
							<div class="desc">Prada2018早春女装秀</div>
						</a>
					</div>

					<div class="sm-module">
						<a href="<?php echo U('Comment/lst');?>" class="item-link">
							<div class="img"><img src="<?= PUBLICS ?>Home/images/discuss/sm-5.jpg" alt=""></div>
							<div class="desc">个高但腿形不完美怎么办？穿宽裤不仅流行还舒适透气</div>
						</a>
					</div>

					<div class="sm-module module-margin">
						<a href="<?php echo U('Comment/lst');?>" class="item-link">
							<div class="img"><img src="<?= PUBLICS ?>Home/images/discuss/sm-1.jpg" alt=""></div>
							<div class="desc">如何打造70年代复古风？超模Lili Sumner ins中有答案</div>
						</a>
					</div>

					<div class="sm-module module-margin">
						<a href="<?php echo U('Comment/lst');?>" class="item-link">
							<div class="img"><img src="<?= PUBLICS ?>Home/images/discuss/sm-2.jpg" alt=""></div>
							<div class="desc">Prada2018早春女装秀</div>
						</a>
					</div>

					<div class="sm-module">
						<a href="<?php echo U('Comment/lst');?>" class="item-link">
							<div class="img"><img src="<?= PUBLICS ?>Home/images/discuss/sm-5.jpg" alt=""></div>
							<div class="desc">个高但腿形不完美怎么办？穿宽裤不仅流行还舒适透气</div>
						</a>
					</div>

					<div class="sm-module module-margin">
						<a href="<?php echo U('Comment/lst');?>" class="item-link">
							<div class="img"><img src="<?= PUBLICS ?>Home/images/discuss/sm-1.jpg" alt=""></div>
							<div class="desc">如何打造70年代复古风？超模Lili Sumner ins中有答案</div>
						</a>
					</div>

					<div class="sm-module module-margin">
						<a href="<?php echo U('Comment/lst');?>" class="item-link">
							<div class="img"><img src="<?= PUBLICS ?>Home/images/discuss/sm-2.jpg" alt=""></div>
							<div class="desc">Prada2018早春女装秀</div>
						</a>
					</div>

					<div class="sm-module">
						<a href="<?php echo U('Comment/lst');?>" class="item-link">
							<div class="img"><img src="<?= PUBLICS ?>Home/images/discuss/sm-5.jpg" alt=""></div>
							<div class="desc">个高但腿形不完美怎么办？穿宽裤不仅流行还舒适透气</div>
						</a>
					</div>
				</div>
			</div>


			<!-- 生活方式模块 -->
			<div class="life section">
				<div class="section-title">
					<img src="<?= PUBLICS ?>Home/images/discuss/life-title.png" alt="">
				</div>
				<div class="makeup-inner">
					<div class="md-module module-l">
						<a href="<?php echo U('Comment/lst');?>" class="item-link">
							<div class="img"><img src="<?= PUBLICS ?>Home/images/discuss/md-1.jpg" alt=""></div>
							<div class="desc">刘雯成香奈儿秀场"刷屏狂魔" 最大咖看客是摩纳哥公主</div>
						</a>
					</div>
					<div class="md-module module-r">
						<a href="<?php echo U('Comment/lst');?>" class="item-link">
							<div class="img"><img src="<?= PUBLICS ?>Home/images/discuss/md-2.jpg" alt=""></div>
							<div class="desc">壕到飞起 碧昂斯女儿礼服售价超62万人民币！</div>
						</a>
					</div>
				</div>
				<div class="section-sm-inner">
					<div class="sm-module module-margin">
						<a href="<?php echo U('Comment/lst');?>" class="item-link">
							<div class="img"><img src="<?= PUBLICS ?>Home/images/discuss/sm-1.jpg" alt=""></div>
							<div class="desc">如何打造70年代复古风？超模Lili Sumner ins中有答案</div>
						</a>
					</div>
					<div class="sm-module module-margin">
						<a href="<?php echo U('Comment/lst');?>" class="item-link">
							<div class="img"><img src="<?= PUBLICS ?>Home/images/discuss/sm-2.jpg" alt=""></div>
							<div class="desc">Prada2018早春女装秀</div>
						</a>
					</div>

					<div class="sm-module">
						<a href="<?php echo U('Comment/lst');?>" class="item-link">
							<div class="img"><img src="<?= PUBLICS ?>Home/images/discuss/sm-5.jpg" alt=""></div>
							<div class="desc">个高但腿形不完美怎么办？穿宽裤不仅流行还舒适透气</div>
						</a>
					</div>

					<div class="sm-module module-margin">
						<a href="<?php echo U('Comment/lst');?>" class="item-link">
							<div class="img"><img src="<?= PUBLICS ?>Home/images/discuss/sm-1.jpg" alt=""></div>
							<div class="desc">如何打造70年代复古风？超模Lili Sumner ins中有答案</div>
						</a>
					</div>

					<div class="sm-module module-margin">
						<a href="<?php echo U('Comment/lst');?>" class="item-link">
							<div class="img"><img src="<?= PUBLICS ?>Home/images/discuss/sm-2.jpg" alt=""></div>
							<div class="desc">Prada2018早春女装秀</div>
						</a>
					</div>

					<div class="sm-module">
						<a href="<?php echo U('Comment/lst');?>" class="item-link">
							<div class="img"><img src="<?= PUBLICS ?>Home/images/discuss/sm-5.jpg" alt=""></div>
							<div class="desc">个高但腿形不完美怎么办？穿宽裤不仅流行还舒适透气</div>
						</a>
					</div>

					<div class="sm-module module-margin">
						<a href="<?php echo U('Comment/lst');?>" class="item-link">
							<div class="img"><img src="<?= PUBLICS ?>Home/images/discuss/sm-1.jpg" alt=""></div>
							<div class="desc">如何打造70年代复古风？超模Lili Sumner ins中有答案</div>
						</a>
					</div>

					<div class="sm-module module-margin">
						<a href="<?php echo U('Comment/lst');?>" class="item-link">
							<div class="img"><img src="<?= PUBLICS ?>Home/images/discuss/sm-2.jpg" alt=""></div>
							<div class="desc">Prada2018早春女装秀</div>
						</a>
					</div>
					<div class="sm-module">
						<a href="<?php echo U('Comment/lst');?>" class="item-link">
							<div class="img"><img src="<?= PUBLICS ?>Home/images/discuss/sm-5.jpg" alt=""></div>
							<div class="desc">个高但腿形不完美怎么办？穿宽裤不仅流行还舒适透气</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<script>
		$(function(){
			var i=0;
			$('.carousel-index span').click(function(){
				i=$('.carousel-index span').index($(this));
				$('.carousel-inner').animate({'margin-left':-i*1200+'px'},800);
				$(this).addClass('active').siblings().removeClass('active')
			})
			setInterval(function(){
				if(i<2)
				{
					i++;
				}
				else
				{
					i=0;
				}
				$('.carousel-inner').animate({'margin-left':-i*1200+'px'},800);
				$('.carousel-index span').eq(i).addClass('active').siblings().removeClass('active')
			},8000)
		})
	</script>