
	<!-- 幻灯片模块 -->
	<section class="carousel">
		<div class="carousel-window">
			<div class="carousel-inner">
				<div class="carousel-item"><img src="<?= PUBLICS ?>Home/images/discuss/carousel-item.jpg" alt=""></div>
				<div class="carousel-item"><img src="<?= PUBLICS ?>Home/images/discuss/carousel-item.jpg" alt=""></div>
				<div class="carousel-item"><img src="<?= PUBLICS ?>Home/images/discuss/carousel-item.jpg" alt=""></div>
			</div>
			<div class="carousel-index">
				<span class="active"></span><span></span><span></span>
			</div>
		</div>
	</section>

	<!-- 主体内容部分 -->
	<section class="main">
		<div class="section">
		
			<div class="sm-module">
				<a href="<?php echo U('Comment/detial');?>" class="item-link">
					<div class="img"><img src="<?= PUBLICS ?>Home/images/discuss/sm-1.jpg" alt=""></div>
					<div class="desc">如何打造70年代复古风？超模Lili Sumner ins中有答案</div>
				</a>
			</div>

			<div class="sm-module">
				<a href="<?php echo U('Comment/detial');?>" class="item-link">
					<div class="img"><img src="<?= PUBLICS ?>Home/images/discuss/sm-2.jpg" alt=""></div>
					<div class="desc">Prada2018早春女装秀</div>
				</a>
			</div>

			<div class="sm-module">
				<a href="<?php echo U('Comment/detial');?>" class="item-link">
					<div class="img"><img src="<?= PUBLICS ?>Home/images/discuss/sm-5.jpg" alt=""></div>
					<div class="desc">个高但腿形不完美怎么办？穿宽裤不仅流行还舒适透气</div>
				</a>
			</div>

			<div class="sm-module">
				<a href="<?php echo U('Comment/detial');?>" class="item-link">
					<div class="img"><img src="<?= PUBLICS ?>Home/images/discuss/sm-1.jpg" alt=""></div>
					<div class="desc">如何打造70年代复古风？超模Lili Sumner ins中有答案</div>
				</a>
			</div>

			<div class="sm-module">
				<a href="<?php echo U('Comment/detial');?>" class="item-link">
					<div class="img"><img src="<?= PUBLICS ?>Home/images/discuss/sm-2.jpg" alt=""></div>
					<div class="desc">Prada2018早春女装秀</div>
				</a>
			</div>

			<div class="sm-module">
				<a href="<?php echo U('Comment/detial');?>" class="item-link">
					<div class="img"><img src="<?= PUBLICS ?>Home/images/discuss/sm-5.jpg" alt=""></div>
					<div class="desc">个高但腿形不完美怎么办？穿宽裤不仅流行还舒适透气</div>
				</a>
			</div>

			<div class="sm-module">
				<a href="<?php echo U('Comment/detial');?>" class="item-link">
					<div class="img"><img src="<?= PUBLICS ?>Home/images/discuss/sm-1.jpg" alt=""></div>
					<div class="desc">如何打造70年代复古风？超模Lili Sumner ins中有答案</div>
				</a>
			</div>

			<div class="sm-module">
				<a href="<?php echo U('Comment/detial');?>" class="item-link">
					<div class="img"><img src="<?= PUBLICS ?>Home/images/discuss/sm-2.jpg" alt=""></div>
					<div class="desc">Prada2018早春女装秀</div>
				</a>
			</div>

			<div class="sm-module">
				<a href="<?php echo U('Comment/detial');?>" class="item-link">
					<div class="img"><img src="<?= PUBLICS ?>Home/images/discuss/sm-5.jpg" alt=""></div>
					<div class="desc">个高但腿形不完美怎么办？穿宽裤不仅流行还舒适透气</div>
				</a>
			</div>

			<div class="sm-module">
				<a href="<?php echo U('Comment/detial');?>" class="item-link">
					<div class="img"><img src="<?= PUBLICS ?>Home/images/discuss/sm-1.jpg" alt=""></div>
					<div class="desc">如何打造70年代复古风？超模Lili Sumner ins中有答案</div>
				</a>
			</div>

			<div class="sm-module">
				<a href="<?php echo U('Comment/detial');?>" class="item-link">
					<div class="img"><img src="<?= PUBLICS ?>Home/images/discuss/sm-2.jpg" alt=""></div>
					<div class="desc">Prada2018早春女装秀</div>
				</a>
			</div>

			<div class="sm-module">
				<a href="<?php echo U('Comment/detial');?>" class="item-link">
					<div class="img"><img src="<?= PUBLICS ?>Home/images/discuss/sm-5.jpg" alt=""></div>
					<div class="desc">个高但腿形不完美怎么办？穿宽裤不仅流行还舒适透气</div>
				</a>
			</div>

			<div class="sm-module">
				<a href="<?php echo U('Comment/detial');?>" class="item-link">
					<div class="img"><img src="<?= PUBLICS ?>Home/images/discuss/sm-1.jpg" alt=""></div>
					<div class="desc">如何打造70年代复古风？超模Lili Sumner ins中有答案</div>
				</a>
			</div>

			<div class="sm-module">
				<a href="<?php echo U('Comment/detial');?>" class="item-link">
					<div class="img"><img src="<?= PUBLICS ?>Home/images/discuss/sm-2.jpg" alt=""></div>
					<div class="desc">Prada2018早春女装秀</div>
				</a>
			</div>

			<div class="sm-module">
				<a href="<?php echo U('Comment/detial');?>" class="item-link">
					<div class="img"><img src="<?= PUBLICS ?>Home/images/discuss/sm-5.jpg" alt=""></div>
					<div class="desc">个高但腿形不完美怎么办？穿宽裤不仅流行还舒适透气</div>
				</a>
			</div>
			
		</div>
		<div class="load-more">
		    <a href="javascript:void(0)" title="">加载更多</a>
		</div>
	</section>

<script>
	$(function(){
		var i=0;
		$('.carousel-index span').click(function(){
			i=$('.carousel-index span').index($(this));
			$('.carousel-inner').animate({'margin-left':-i*1200+'px'},800);
			$(this).addClass('active').siblings().removeClass('active')
		})
		setInterval(function(){
			if(i<2)
			{
				i++;
			}
			else
			{
				i=0;
			}
			$('.carousel-inner').animate({'margin-left':-i*1200+'px'},800);
			$('.carousel-index span').eq(i).addClass('active').siblings().removeClass('active')
		},8000)
	})
</script>