<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><?= $title ?></title>
    <!-- BOOTSTRAP STYLES-->
    <link href="<?= PUBLIC_ADMIN ?>/css/bootstrap.css" rel="stylesheet" />
    <!-- FONTAWESOME STYLES-->
    <link href="<?= PUBLIC_ADMIN ?>/css/font-awesome.css" rel="stylesheet" />
    <!-- CUSTOM STYLES-->
    <link href="<?= PUBLIC_ADMIN ?>/css/custom.css" rel="stylesheet" />
    <!-- GOOGLE FONTS-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>
<body>
    <div id="wrapper">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="adjust-nav">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href=""><i class="fa fa-square-o "></i>&nbsp;Emeiping</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="" target="main">个人信息</a></li>
                        <li><a href="<?php echo U('Index/out_login',2);?>" onclick="return confirm('You Sure ?');">退出登录</a></li>
                    </ul>
                </div>

            </div>
        </div>
        <!-- /. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    <li class="text-center user-image-back">
                        <img src="<?= PUBLIC_ADMIN ?>/img/find_user.png" class="img-responsive" />
                     
                    </li>
                    
                    <li>
                        <a href="javascript:void();"><i class="fa fa-edit "></i>Hot<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="<?php echo U('Hot/lst',2);?>" target='main'>列表</a>
                            </li>
                            <li>
                                <a href="<?php echo U('Hot/add',2);?>" target='main'>添加</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="javascript:void();"><i class="fa fa-sitemap "></i>美妆管理<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="<?php echo U('Beauty/lst',2);?>" target='main'>美妆列表</a>
                            </li>
                            <li>
                                <a href="<?php echo U('Beauty/add',2);?>" target='main'>添加美妆</a>
                            </li>
                            <!--
                            <li>
                                <a href="javascript:void();">美妆项目<span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li>
                                        <a href="<?php echo U('Beauty/categray_lst',2);?>" target='main'>项目列表</a>
                                    </li>
                                    <li>
                                        <a href="<?php echo U('Beauty/show_add_categray',2);?>" target='main'>添加项目</a>
                                    </li>
                                </ul>

                            </li>
                            -->
                        </ul>
                    </li>

                    <li>
                        <a href="javascript:void();"><i class="fa fa-edit "></i>美妆分类管理<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="<?php echo U('Beautycategray/lst',2);?>" target='main'>列表</a>
                            </li>
                            <li>
                                <a href="<?php echo U('Beautycategray/add',2);?>" target='main'>添加</a>
                            </li>
                        </ul>
                    </li>
                    
                    <li>
                        <a href="javascript:void();"><i class="fa fa-edit "></i>话题管理<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="<?php echo U('Topic/lst',2);?>" target='main'>列表</a>
                            </li>
                            <li>
                                <a href="<?php echo U('Topic/add',2);?>" target='main'>添加</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="javascript:void();"><i class="fa fa-edit "></i>话题分类管理<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="<?php echo U('Topiccategray/lst',2);?>" target='main'>列表</a>
                            </li>
                            <li>
                                <a href="<?php echo U('Topiccategray/add',2);?>" target='main'>添加</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="javascript:void();"><i class="fa fa-edit "></i>商品管理<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="<?php echo U('Goods/lst',2);?>" target='main'>列表</a>
                            </li>
                            <li>
                                <a href="<?php echo U('Goods/add',2);?>" target='main'>添加</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="javascript:void();"><i class="fa fa-edit "></i>商品分类管理<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="<?php echo U('Goodscate/lst',2);?>" target='main'>列表</a>
                            </li>
                            <li>
                                <a href="<?php echo U('Goodscate/add',2);?>" target='main'>添加</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="javascript:void();"><i class="fa fa-edit "></i>合作商管理<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="<?php echo U('Partner/lst',2);?>" target='main'>列表</a>
                            </li>
                            <li>
                                <a href="<?php echo U('Partner/add',2);?>" target='main'>添加</a>
                            </li>
                        </ul>
                    </li>
                </ul>

            </div>

        </nav>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper">

                <iframe style="width:100%;height:1000px;" src="" frameborder="0" scrolling="no"  noresize="noresize" name='main'></iframe>
 
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script src="<?= PUBLIC_ADMIN ?>/js/jquery-1.10.2.js"></script>
    <!-- BOOTSTRAP SCRIPTS -->
    <script src="<?= PUBLIC_ADMIN ?>/js/bootstrap.min.js"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="<?= PUBLIC_ADMIN ?>/js/jquery.metisMenu.js"></script>
    <!-- CUSTOM SCRIPTS -->
    <script src="<?= PUBLIC_ADMIN ?>/js/custom.js"></script>


</body>
</html>
