<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>登陆</title>
	<link rel="stylesheet" type="text/css" href="<?= PUBLICS ?>Home/css/global.css">
	<link rel="stylesheet" type="text/css" href="<?= PUBLICS ?>Home/css/login.css">
	<script src="<?= PUBLICS ?>Home/js/jquery-1.11.3.min.js"></script>
</head>
<body>
	<!-- 可复用弹框组件 -->
	<div class="dialog"></div>
	
	<!-- 登陆面板 -->
	<div class="well">
		<div class="well-logo">
			<img src="<?= PUBLICS ?>Home/images/register/well-logo.png" alt="">
		</div>
		<div class="logo-bottom">
			<img src="<?= PUBLICS ?>Home/images/register/logo-bottom.png" alt="">
		</div>
		<div class="well-title">
			使用手机号
		</div>
		<div class="input-control">
			<input type="text" placeholder="输手机号或者邮箱">
		</div>
		<div class="input-control">
			<input type="password" placeholder="密码">
		</div>
		<div class="login-btn">
			<a href="javascript:void(0)">登陆</a>
		</div>
		<div class="option-link">
			<a href="javascript:void(0)" class="forget-password">忘记密码 »</a>
			<span class="register-link">还没有e美评账号？<a href="javascript:void(0)">立即注册</a></span>
		</div>
	</div>
</body>
</html>

<!-- 可复用弹框组件 -->
<script>
	(function($){
	    $.fn.dialog=function(options){
	        var defaults={'type':'notice','msg':'请输入正确的信息'}
	        var options=$.extend(defaults, options);
	        var me=$(this);
	        var obj='<div class="dialog-well">'+
						'<div class="dialog-title">'+
							'<span>提示</span>'+
							'<span class="dialog-close"></span>'+
						'</div>'+
						'<div class="dialog-text">'+options.msg+'</div>'+
							'<div class="dialog-foot">'+
								'<a href="javascript:void(0)">确定</a>'+
						'</div>'+
					'</div>'
			me.empty();
			
			me.append(obj);

	        me.find('.dialog-close').bind('click',function(){
	         	me.fadeOut(300);
	        })

	        me.find('.dialog-foot a').bind('click',function(){
	         	me.fadeOut(300);
	        })

	        me.fadeIn(300);
	    }
	})(jQuery)
</script>

<script>
	$('.login-btn a').click(function(){
		var user=$('.input-control input[type="text"]').val();
		var password=$('.input-control input[type="password"]').val();

		if(validate_tel(user) || validate_tel(user)){
			if(password.replace(/\s/g,'')!=='')
			{
				post_validate({'username':user,'password':password});
			}
			else
			{
				$('.dialog').dialog({'type':'notice','msg':'请输入密码'});
			}
		}
		else
		{
			$('.dialog').dialog({'type':'notice','msg':'请输入正确的手机号'});
		}
	})

	// 验证手机号码
	function validate_tel(tel){
		var reg_tel=/^((\+?[0-9]{1,4})|(\(\+86\)))?(13[0-9]|14[57]|15[012356789]|17[03678]|18[0-9])\d{8}$/;
		if(reg_tel.test(tel))
		{
			return true;
		}
		else
		{
			return false;
		}
	}

	// 验证邮箱
	function validate_mail(mail){
		var reg_mail=/^[a-z0-9]+([._\\-]*[a-z0-9])*@([a-z0-9]+[-a-z0-9]*[a-z0-9]+.){1,63}[a-z0-9]+$/;
		if(reg_mail.test(tel))
		{
			return true;
		}
		else
		{
			return false;
		}
	}

	// ajax验证
	function post_validate(data){
		$.ajax({
			url:"<?php echo U('Login/do_login');?>",
			type:'POST',
			dataType:'json',
			data:data,
			success:function(res){
				if(res.status)
				{
					window.location.href="<?php echo U();?>";
				}
				else
				{
					$('.dialog').dialog({'type':'notice','msg':res.error});
				}
			}
		})
	}
</script>