<!-- 底部 -->
	<div class="bottom">
		<div class="bottom-content">
			<div class="bottom-left floatL">
				<a href="/"><img style="display:block;margin:10% auto auto;" src="<?= PUBLICS ?>Home/images/bottom.jpg" alt="Responsive image"></a>
			</div>
			<div class="bottom-right floatR">
				<p style="margin-top:2.5em;font-size:1em;color:#666;text-align:center;">
					版权所有 纽珀（中国）有限公司
				</p>
				<p class="emp-last" style="font-size:0.8em;color:#666;text-align:center;">
					<style>
					.emp-last a{
						color:#777;
						font-size:12px;
					}
					</style>
					沪ICP备12000578号 Copyright 2009-2017 emeiping.com All Right Reserved 
					<script language="javascript" type="text/javascript" src="http://js.users.51.la/3366325.js"></script>
      <noscript>
      <a href="http://www.51.la/?3366325" target="_blank"><img src="http://img.users.51.la/3366325.asp" style="border:none" /></a>
      </noscript>
				</p>
			</div>
			<div class="clear"></div>			
		</div>
	</div>
</body>
</html>