<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8">
	<title><?= $title ?></title>
	<link rel="stylesheet" type="text/css" href="<?= PUBLICS ?>Home/css/global.css">
	<?php
		foreach($cssList as $i=>$css)
		{
	?>
	<link rel="stylesheet" type="text/css" href="<?= PUBLICS ?>Home/css/<?= $css ?>">
	<?php
		}
	?>
	<script src="<?= PUBLICS ?>Home/js/jquery-1.11.3.min.js"></script>
	<?php
		foreach($jsList as $i=>$js)
		{
	?>
	<script src="<?= PUBLICS ?>Home/js/<?= $js ?>"></script>
	<?php
		}
	?>
</head>
<body ondragstart="return false">
<!-- header -->
	<div id="header" class="header">
		<div class="header-center">
			<div class="header-social">
				<a href="javascript:void(0)" class="header-weibo"></a><a href="#" class="header-wechat"></a>
			</div>
			<div class="header-list">
				<ul>
					<li><a href="javascript:void(0)">TAG标签</a></li>
					<li><a href="javascript:void(0)">RSS聚合</a></li>
					<li><a href="javascript:void(0)">相册</a></li>
					<li><a href="javascript:void(0)">浏览地图</a></li>
				</ul>
			</div>
			<div class="header-search">
				<input type="text" name="" id="search">
				<span class="line-v"></span>
				<span class="icon-search"></span>
			</div>
			<div class="header-option">
			<?php if( ! isset( $this->session->home_id ) ):?>
				<a href="<?php echo U('Login/show_login');?>">登陆</a>
				<a href="<?php echo U('Register/show_register');?>">注册</a>
			<?php else:?>
				<a href="<?php echo U('Login/userinfo');?>">个人信息</a>
				<a href="<?php echo U('Login/out_login');?>">退出</a>
			<?php endif;?>
			</div>
		</div>
	</div>

	<!-- nav -->
	<div id="nav" class="nav">
		<div class="nav-center">
			<ul class="nav-list">
				<li><a href="<?php echo U();?>">首页</a></li>
				<li><a href="<?php echo U('Comment/index');?>">美评</a></li>
				<li><a href="<?php echo U('Watch/index');?>">直播</a></li>
				<li><a href="<?php echo U('Privative/index');?>">订制</a></li>
<!-- 				<li><a href="javascript:void(0)">医生</a></li>
				<li><a href="javascript:void(0)">医院</a></li>
 -->				<li><a href="<?php echo U('Manager/index');?>">管家</a></li>
			</ul>
			<div class="nav-location">
				<span>上海</span><span class="icon-location"></span>
			</div>
		</div>	
	</div>

	<!-- logo -->
	<div class="logo">
		<img src="<?= PUBLICS ?>Home/images/nav-logo.png" alt="">
	</div>