<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <!-- BOOTSTRAP STYLES-->
    <link href="<?= PUBLIC_ADMIN ?>css/bootstrap.css" rel="stylesheet" />
    <!-- FONTAWESOME STYLES-->
    <link href="<?= PUBLIC_ADMIN ?>css/font-awesome.css" rel="stylesheet" />
    <!-- CUSTOM STYLES-->
    <link href="<?= PUBLIC_ADMIN ?>css/custom.css" rel="stylesheet" />
    <!-- GOOGLE FONTS-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>
<body>
    <button type="button" class="btn btn-primary pull-right"><?= $title ?></button>

    <form class="form-horizontal" role="form" action="<?php echo U('Topic/do_add', 2);?>" method="post" enctype="multipart/form-data">

   
        <fieldset>
           <legend>基本信息</legend>

           <div class="form-group">
              <label class="col-sm-2 control-label" for="ds_host">所属分类</label>
              <div class="col-sm-9">
                 <select name="cate_id">
                   <option value="">请选择分类</option>
              <?php foreach( $cate as $v ):?>
                   <option value="<?php echo $v['id'];?>"><?php echo $v['name'];?></option>
              <?php endforeach;?>
                 </select>
              </div>  
           </div>

           <div class="form-group">
              <label class="col-sm-2 control-label" for="ds_host">话题标题</label>
              <div class="col-sm-9">
                 <input class="form-control" id="ds_host" type="text" placeholder="" name="title"/>
              </div>           
           </div>

           <div class="form-group">
              <label class="col-sm-2 control-label" for="ds_host">作者</label>
              <div class="col-sm-3">
                 <input class="form-control" id="ds_host" type="text" placeholder="" name="author"/>
              </div>           
           </div>

           <div class="form-group">
              <label class="col-sm-2 control-label" for="ds_host">显示到主页</label>
              <div class="col-sm-1">
                 <input class=" "  type="radio"  name="is_index" value='1'/>
                 是
              </div>
              <div class="col-sm-1">
                 <input class=" "  type="radio"  name="is_index" value='0' checked="checked"/>
                 否
              </div>
           </div>

           <div class="form-group">
              <label class="col-sm-2 control-label" for="ds_host">是否显示</label>
              <div class="col-sm-1">
                 <input class=" "  type="radio" name="is_valid" value="1" checked="checked"/>
                 是
              </div>
              <div class="col-sm-1">
                 <input class=" "  type="radio" name="is_valid" value='0'/>
                 否
              </div>
           </div>

           <div class="form-group">
              <label class="col-sm-2 control-label" for="ds_host">介绍</label>
              <div class="col-sm-8">
                 <textarea class="form-control" name="intro"></textarea>
              </div>
           </div>
           
        </fieldset> 


        <fieldset>
           <legend>素材信息</legend>

          
           <div class="form-group">
              <label class="col-sm-2 control-label" for="ds_host">html页面</label>
              <div class="col-sm-9">
                 <input type="file" name="html" >
              </div>  
           </div>
          

           <div class="form-group">
              <label class="col-sm-2 control-label" for="ds_host">图片</label>
              <div class="col-sm-9">
                 <input type="file" name="pic" >
              </div>  
           </div>
           
           <div class="form-group">
              <label class="col-sm-2 control-label" for="ds_host">图片压缩包</label>
              <div class="col-sm-9">
                 <input type="file" name="imgs" >
              </div>  
           </div>


        <fieldset>
           <legend></legend>
           <div class="form-group">
              <label class="col-sm-2 control-label" for="ds_host"></label>
              <div class="col-sm-9">
                 <button type="submit" class="btn btn-primary ">Submit</button>
                 <button type="reset" class="btn btn-warning ">reset</button>
              </div>  
           </div>    
        </fieldset>


        <fieldset>
           <legend></legend>
           <div class="form-group">
              <label class="col-sm-2 control-label" for="ds_host"></label>
              <div class="col-sm-9" style="color:red;">
                 注意：
                 <br />图片压缩包  统一用 ' imgs '文件夹压缩成 rar 文件
                 <br />html页面上的图片路径："  &lt;?php echo TOPICS.$info['id'].'/'.'imgs/';?&gt; + 图片名  "
              </div>  
           </div>    
        </fieldset>
      
    </form>
    <!-- /. WRAPPER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script src="<?= PUBLIC_ADMIN ?>js/jquery-1.10.2.js"></script>
    <!-- BOOTSTRAP SCRIPTS -->
    <script src="<?= PUBLIC_ADMIN ?>js/bootstrap.min.js"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="<?= PUBLIC_ADMIN ?>js/jquery.metisMenu.js"></script>
    <!-- CUSTOM SCRIPTS -->
    <script src="<?= PUBLIC_ADMIN ?>js/custom.js"></script>


</body>
</html>
