
	<!-- 页面主体内容 -->
	<div class="main">
		<div class="crumbs">
			<a href="javascript:void(0)">e美评</a> &gt;
			<a href="JavaScript:void(0)">e管家</a> &gt;
			e助手
		</div>
		<div class="main-content">
			<div class="banner">
				<img src="<?= PUBLICS ?>Home/images/assistant/background.png" alt="">
			</div>
			<div class="assistant-item">
				<div class="icon-x"><span></span></div>
				<div class="budget">
					<div class="title">
						<h2 class="ch">预算计划</h2>
						<h3 class="en">THE BUDGET PLAN</h3>
					</div>
					<div class="desc">
						<p class="ch">整形有猫腻？整形项目是怎么收费的？有没有隐性收费？看不出来怎么办？<br>整形医院的技术方面是否符合国家标准？<br>当您遇到以上问题，请在线或电话联系我们的整形助手。只要您提供整形要求，我们的整形顾问小组<br>会为您的整形把好审核和专业建议关，祝你一臂之力。</p>
						<p class="en">Plastic surgery? How do you charge for plastic surgery? Is there a hidden fee? What if it doesn't come out?<br>Is the technical aspect of the plastic surgery meeting the national standards?<br>Please contact our plastic assistant online or by phone when you have more than one problem. As long as you provide plastic surgery, our plastic advisory panel<br>I will give you a good review and professional advice for your plastic surgery.</p>
					</div>
					<div class="desc-img">
						<img src="<?= PUBLICS ?>Home/images/assistant/budget.jpg" alt="">
					</div>
				</div>
			</div>
			<div class="assistant-item">
				<div class="icon-x"><span></span></div>
				<div class="notification">
					<div class="title">
						<h2 class="ch">活动通知</h2>
						<h3 class="en">EVENT NOTIFICATION</h3>
					</div>
					<div class="desc">
						<p class="ch">当您决定要做整形，准备下定时，不妨先打个电话给您的整形助手，或许<br>最新的活动价格在等着您，千万别错过，整形也要打打小算盘。<br>更多特价，促销，抢购活动信息，帮您一省再省！</p>
						<p class="en">When you decide to do a plastic surgery, prepare a phone call to your plastic assistant<br>The latest activity price is waiting for you. Don't miss it.<br>More special price, promotion, buying up activity information, help you save more!</p>
					</div>
					<div class="desc-img">
						<img src="<?= PUBLICS ?>Home/images/assistant/notification.jpg" alt="">
					</div>
				</div>
			</div>
			<div class="assistant-item">
				<div class="icon-x"><span></span></div>
				<div class="notification">
					<div class="title">
						<h2 class="ch">专车接送</h2>
						<h3 class="en">FOR TRANSPORTATION</h3>
					</div>
					<div class="desc">
						<p class="ch">e美评拥有一只具有高度敬业的专业化接送团队，拥有多年的驾驶经验，<br>技术纯熟，熟悉上海的各处地形。并且在不断创新，不停为客户提供全面的崭新的行程安排。在全程的接送陪同中，<br>会让大家感觉有自己保姆司机一样的亲切感。专业化接送团队会以最高的热情让您整形蜕变的旅程。</p>
						<p class="en">We have a highly dedicated and professional transport team with many years of driving experience.<br>
Familiar with the landscape of Shanghai. And we are constantly innovating to provide customers with a comprehensive new itinerary. Throughout the ride,<br>It makes you feel like a nanny driver. The professional transport team will take the highest enthusiasm for your journey.</p>
					</div>
					<div class="desc-img">
						<img src="<?= PUBLICS ?>Home/images/assistant/transportation.jpg" alt="">
					</div>
				</div>
			</div>
			<div class="assistant-item">
				<div class="icon-x"><span></span></div>
				<div class="protection">
					<div class="title">
						<h2 class="ch">异地护查</h2>
						<h3 class="en">LONG DISTANCE PROTECTION CHECK</h3>
					</div>
					<div class="desc">
						<p class="ch">e美评是您在超过100个城市和地区的专属整形助手，<br>同时让您享有专属司机车接车送服务。在e美评预约术后护查，<br>无需担忧术后出差。 不管您身在何处，我们都是您最贴心的美丽管家。</p>
						<p class="en">E is your own plastic surgeon in more than 100 cities and regions.<br>At the same time, you will be given a driver's car to pick up the service. After an appointment in e beauty review,<br>There is no need to worry about the operation. No matter where you are, we are your sweetest housekeepers.</p>
					</div>
					<div class="desc-img">
						<img src="<?= PUBLICS ?>Home/images/assistant/protection.jpg" alt="">
					</div>
				</div>
			</div>
		</div>

	</div>