
	<!-- 页面主体内容 -->
	<div class="main">
		<div class="crumbs">
			<a href="javascript:void(0)">e美评</a> &gt;
			<a href="JavaScript:void(0)">e管家</a> &gt;
			e保障
		</div>
		<div class="main-content">
			<div class="guarantee-desc">
				<div class="ch">
					所有经过实名认证的医院，资质信息都经过e美评严格审核<br>信息都真实可信，医院签署了e美评材料正品保障服务协议和提供医院和医生的资质证明<br>承诺为消费者提供医疗美容安全保障服务，如果出现手术失败，经鉴定是院方责任，则e美评支持先行赔付。
				</div>
				<div class="en">
					All accredited hospitals, the qualifications information is reviewed by e-mei<br>The audit information is signed by the real trust hospital, which is the certificate of quality assurance service and the qualifications of the hospital and the doctor<br>Promise to provide the consumer with the medical beauty safety guarantee service, if the operation fails, the appraisal is the responsibility of the hospital, the plastic compass supports the prepayment.
				</div>
			</div>
		</div>
	</div>