
	<!-- banner 大图 -->
	<div class="banner">
		<img src="<?= PUBLICS ?>Home/images/butler/banner.jpg" alt="">
	</div>

	<!-- 锚点链接 -->
	<div class="anchor">
		<div class="mc">
			<a href="<?php echo U('Manager/esafe');?>" class="anchor-item">
				<span class="icon-security"></span>
				<span class="anchor-text">
					<i class="ch">e保障</i>
					<i class="en">GUARANTEE</i>
				</span>
			</a>
			<a href="javascript:void(0)" class="anchor-item">
				<span class="icon-nanny"></span>
				<span class="anchor-text">
					<i class="ch">e助手</i>
					<i class="en">ASSISTANT</i>
				</span>
			</a>
			<a href="javascript:void(0)" class="anchor-item">
				<span class="icon-hospital"></span>
				<span class="anchor-text">
					<i class="ch">名医名院</i>
					<i class="en">HOSPITAL</i>
				</span>
			</a>
		</div>
	</div>

	<!-- e 保障 -->
	<div class="guarantee">
		<div class="mc">
			<div class="guarantee-l">
				<span class="block-sm"></span>
				<span class="block-md"></span>
				<span class="block-lg"></span>
				<div class="guarantee-title">
					<span class="ch">e保障</span>
					<span class="en">GUARANTEE</span>
				</div>
				<div class="icon-protect"></div>
			</div>
			<div class="guarantee-c">
				<img src="<?= PUBLICS ?>Home/images/butler/guarantee-img.jpg" alt="">
			</div>
			<div class="guarantee-r">
				<p>所有经过实名认证的医院，资质信息都经过e美评严格审核</p>
				<b></b>
				<p>信息都真实可信医院签署了e美评材料正品保障服务协议和提供医院和医生的资质证明</p>
				<b></b>
				<p>承诺为消费者提供医疗美容安全保障服务，如果出现手术失败，经鉴定是院方责任，则整形指南针支持先行赔付。</p>
			</div>
		</div>
	</div>

	<!-- e 保姆 -->
	<div class="nanny">
		<div class="mc">
			<div class="nanny-title">
				<p class="ch">e助手</p>
				<b></b>
				<p class="en">ASSISTANT</p>
			</div>
			<div class="nanny-content">
				<a href="javascript:void(0)" class="nanny-item">
					<div class="nanny-tag">
						<p class="ch">预算计划</p>
						<p class="en">BUDGET PLAN</p>
						<p class="icon-more"></p>
					</div>
					<div class="nanny-hidden">
						<span>more</span>
					</div>
				</a>
				<a href="javascript:void(0)" class="nanny-item">
					<div class="nanny-tag">
						<p class="ch">活动通知</p>
						<p class="en">ACTIVITY NOTIFICATION</p>
						<p class="icon-more"></p>
					</div>
					<div class="nanny-hidden">
						<span>more</span>
					</div>
				</a>
				<a href="javascript:void(0)" class="nanny-item">
					<div class="nanny-tag">
						<p class="ch">专车接送</p>
						<p class="en">SHUTTLE BUS</p>
						<p class="icon-more"></p>
					</div>
					<div class="nanny-hidden">
						<span>more</span>
					</div>
				</a>
				<a href="javascript:void(0)" class="nanny-item">
					<div class="nanny-tag">
						<p class="ch">预算计划</p>
						<p class="en">OFF-SITE CARE</p>
						<p class="icon-more"></p>
					</div>
					<div class="nanny-hidden">
						<span>more</span>
					</div>
				</a>
			</div>
		</div>	
	</div>

	<!-- 名医名院 -->
	<div class="hospital">
		<span class="prev"></span>
		<span class="next"></span>
		<div class="mc">
			<div class="hospital-title">
				<p class="ch">名医名院</p>
				<b></b>
				<p class="en">FAMOUS HOSPITAL</p>
			</div>
			<div class="hospital-content">
				<div class="hospital-show">
					<div class="a-screen">
						<a href="javascript:void(0)" class="hospital-item">
							<div class="hospital-img">
								<img src="<?= PUBLICS ?>Home/images/butler/hospital-1.png" alt="">
							</div>
							<div class="hospital-name">上海沃德医疗中心</div>
							<div class="hospital-desc">
								由中国和美国医学专家联合创办的综合门诊部
							</div>
						</a>
						<a href="javascript:void(0)" class="hospital-item">
							<div class="hospital-img">
								<img src="<?= PUBLICS ?>Home/images/butler/hospital-2.png" alt="">
							</div>
							<div class="hospital-name">上海一美整形外科医院</div>
							<div class="hospital-desc">
								上海一美整形外科医院是上海为数不多的规模大、设备先进、环境优雅、技术一流的整形美容专科医院。
							</div>
						</a>
						<a href="javascript:void(0)" class="hospital-item">
							<div class="hospital-img">
								<img src="<?= PUBLICS ?>Home/images/butler/hospital-3.png" alt="">
							</div>
							<div class="hospital-name">上海富华医疗美容医院</div>
							<div class="hospital-desc">
								上海富华医疗美容医院创立于2003年,位于上海市静安区繁华路段。是富华美容集团投资2.5亿元建成的第三家医疗美容医院,这也是富华美容集团规模最大的旗舰医院。
							</div>
						</a>
						<a href="javascript:void(0)" class="hospital-item">
							<div class="hospital-img">
								<img src="<?= PUBLICS ?>Home/images/butler/hospital-4.png" alt="">
							</div>
							<div class="hospital-name">上海圣爱医院</div>
							<div class="hospital-desc">
								上海圣爱医院坐落于上海市嘉定南门，东靠汽车站，北临南苑公园，交通便捷、环境优美，是一所集预防、医疗、科研于一体的综合性医院。
							</div>
						</a>
					</div>

					<div class="a-screen">
						<a href="javascript:void(0)" class="hospital-item">
							<div class="hospital-img">
								<img src="<?= PUBLICS ?>Home/images/butler/hospital-5.png" alt="">
							</div>
							<div class="hospital-name">上海诠韩医疗美容门诊部</div>
							<div class="hospital-desc">
								上海比华利整形美容医院2006年董萍教授走进了美国比华利整形医院
							</div>
						</a>
						<a href="javascript:void(0)" class="hospital-item">
							<div class="hospital-img">
								<img src="<?= PUBLICS ?>Home/images/butler/hospital-6.jpg" alt="">
							</div>
							<div class="hospital-name">上海伊美尔瑞阳整形外科门诊部</div>
							<div class="hospital-desc">
								海瑞阳整形机构(www.reyon-sh.com)创立于2002年，是上海最早成立的整形美容机构之一。
							</div>
						</a>
						<a href="javascript:void(0)" class="hospital-item">
							<div class="hospital-img">
								<img src="<?= PUBLICS ?>Home/images/butler/hospital-7.jpg" alt="">
							</div>
							<div class="hospital-name">上海长江医院</div>
							<div class="hospital-desc">
								上海长江医院位于上海市虹口区周家嘴路515-535号，经上海市卫生和计划生育委员会批准成立
							</div>
						</a>
						<a href="javascript:void(0)" class="hospital-item">
							<div class="hospital-img">
								<img src="<?= PUBLICS ?>Home/images/butler/hospital-8.png" alt="">
							</div>
							<div class="hospital-name">上海复丽医疗美容门诊部</div>
							<div class="hospital-desc">
								上海复丽医疗美容门诊部是国际专业医疗美容整形机构，是中国率先通过ISO9002国际质量体系认证的美容集团
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

<script>
	var t=setInterval(function(){
		next();
	},5000)
	$('.a-screen').eq(0).clone().appendTo('.hospital-show');
	$('.hospital-show').css({'width':$('.hospital-item').length*306+'px'});
	var i=0;
	function prev()
	{
		if(i<0)
		{
			i++;
			$('.hospital-show').animate({'margin-left':'306'*i},600);
		}
		else
		{
			$('.hospital-show').css({'margin-left':-306*8+'px'});
			i=-8;
			prev();
		}
	}

	function next()
	{
		if(i>-8)
		{
			i--;
			$('.hospital-show').animate({'margin-left':'306'*i},600);
		}
		else
		{
			$('.hospital-show').css({'margin-left':0});
			i=0;
			next();
		}
	}

	$('.prev').click(function(){
		prev();
		clearInterval(t);
		t=setInterval(function(){
			next();
		},5000)
	})
	$('.next').click(function(){
		next();
		clearInterval(t);
		t=setInterval(function(){
			next();
		},5000)
	})
</script>