
	<!-- banner 大图 -->
	<div class="banner">
		<img src="<?= PUBLICS ?>Home/images/butler/banner.jpg" alt="">
	</div>

	<!-- 锚点链接 -->
	<div class="anchor">
		<div class="mc">
			<a href="<?php echo U('Manager/esafe');?>" class="anchor-item">
				<span class="icon-security"></span>
				<span class="anchor-text">
					<i class="ch">e保障</i>
					<i class="en">GUARANTEE</i>
				</span>
			</a>
			<a href="<?php echo U('Manager/ehelper');?>" class="anchor-item">
				<span class="icon-nanny"></span>
				<span class="anchor-text">
					<i class="ch">e助手</i>
					<i class="en">ASSISTANT</i>
				</span>
			</a>
		</div>
	</div>

	<!-- e 保障 -->
	<div class="guarantee">
		<div class="mc">
			<div class="guarantee-l">
				<span class="block-sm"></span>
				<span class="block-md"></span>
				<span class="block-lg"></span>
				<div class="guarantee-title">
					<span class="ch">e保障</span>
					<span class="en">GUARANTEE</span>
				</div>
				<div class="icon-protect"></div>
			</div>
			<div class="guarantee-c">
				<img src="<?= PUBLICS ?>Home/images/butler/guarantee-img.jpg" alt="">
			</div>
			<div class="guarantee-r">
				<p>所有经过实名认证的医院，资质信息都经过e美评严格审核</p>
				<b></b>
				<p>信息都真实可信医院签署了e美评材料正品保障服务协议和提供医院和医生的资质证明</p>
				<b></b>
				<p>承诺为消费者提供医疗美容安全保障服务，如果出现手术失败，经鉴定是院方责任，则整形指南针支持先行赔付。</p>
			</div>
		</div>
	</div>

	<!-- e 保姆 -->
	<div class="nanny">
		<div class="mc">
			<div class="nanny-title">
				<p class="ch">e助手</p>
				<b></b>
				<p class="en">ASSISTANT</p>
			</div>
			<div class="nanny-content">
				<a href="javascript:void(0)" class="nanny-item">
					<div class="nanny-tag">
						<p class="ch">预算计划</p>
						<p class="en">BUDGET PLAN</p>
						<p class="icon-more"></p>
					</div>
					<div class="nanny-hidden">
						<span>more</span>
					</div>
				</a>
				<a href="javascript:void(0)" class="nanny-item">
					<div class="nanny-tag">
						<p class="ch">活动通知</p>
						<p class="en">ACTIVITY NOTIFICATION</p>
						<p class="icon-more"></p>
					</div>
					<div class="nanny-hidden">
						<span>more</span>
					</div>
				</a>
				<a href="javascript:void(0)" class="nanny-item">
					<div class="nanny-tag">
						<p class="ch">专车接送</p>
						<p class="en">SHUTTLE BUS</p>
						<p class="icon-more"></p>
					</div>
					<div class="nanny-hidden">
						<span>more</span>
					</div>
				</a>
				<a href="javascript:void(0)" class="nanny-item">
					<div class="nanny-tag">
						<p class="ch">预算计划</p>
						<p class="en">OFF-SITE CARE</p>
						<p class="icon-more"></p>
					</div>
					<div class="nanny-hidden">
						<span>more</span>
					</div>
				</a>
			</div>
		</div>	
	</div>