<div id="carousel" class="carousel">
	<div class="carousel-container">
		<img src="<?= PUBLICS ?>Home/images/index/carousel-test.jpg" alt="">
		<img src="<?= PUBLICS ?>Home/images/index/carousel-test.jpg" alt="">
		<img src="<?= PUBLICS ?>Home/images/index/carousel-test.jpg" alt="">
	</div>
	<div class="carousel-index">
		<span class="active"></span>
		<span></span>
		<span></span>
	</div>
</div>

<!-- hot -->
<section id="hot" class="hot">
	<div class="hot-center">
		<div class="hot-title">
			<img src="<?= PUBLICS ?>Home/images/index/hot-title.png" alt="">
		</div>
		<div class="hot-img">
			<img src="<?= PUBLICS ?>Home/images/index/hot-img.jpg" alt="">
		</div>
		<div class="hot-desc">
			<p class="hot-desc-title"><img src="<?= PUBLICS ?>Home/images/index/hot-desc-title.png" alt=""></p>
			<p class="hot-desc-text">近两年，“时尚轮回”的概念被屡屡提及，的确如此，从50年代的吊带裙到80年代的渔网袜……这些单品在近两年大肆回潮。现在再翻看一些时代icon的旧照，其实不难发现她们身上除了单品以外，就连发型也都被现代所追捧。</p>
			<p class="hot-more"><a href="#"><img src="<?= PUBLICS ?>Home/images/index/hot-more.png" alt=""></a></p>
		</div>
	</div>
</section>

<!-- outfit -->
<section id="outfit" class="outfit">
	<div class="outfit-center">
		<div class="outfit-one">
			<img src="<?= PUBLICS ?>Home/images/index/outfit-one.jpg" alt="">
		</div>
		<div class="outfit-two">
			<div>
				<img src="<?= PUBLICS ?>Home/images/index/outfit-two.jpg" alt="">
				<div class="outfit-desc">
					<div class="outfit-desc-title">
						Gigi Hadid 随性又干练
					</div>
					<div class="outfit-desc-text">
						前几天，Gigi出街时穿一套条纹睡衣装，配上眼镜与白色的凉鞋，给人的感觉真是清爽！
					</div>
				</div>
			</div>
			<div class="outfit-two-desc">
				<img src="<?= PUBLICS ?>Home/images/index/outfit-two-desc.png" alt="">
			</div>
			<div class="outfit-more">
				<a href="#"><img src="<?= PUBLICS ?>Home/images/index/outfit-more.png" alt=""></a>
			</div>
		</div>
		<div class="outfit-three">
			<div class="outfit-three-title">
				<img src="<?= PUBLICS ?>Home/images/index/outfit-three-title.png" alt="">
			</div>
			<div class="outfit-three-desc">
				<img src="<?= PUBLICS ?>Home/images/index/outfit-three-desc.jpg" alt="">
			</div>
		</div>
	</div>
</section>

<!-- live -->
<section id="live" class="live">
	<div class="live-center">
		<div class="live-title">
			<img src="<?= PUBLICS ?>Home/images/index/live-title.jpg" alt="">
		</div>
		<div class="live-video">
			<img src="<?= PUBLICS ?>Home/images/index/live-video.jpg" alt="">
			<img src="<?= PUBLICS ?>Home/images/index/live-start.png" alt="" class="live-start">
		</div>
		<div class="live-select">
			<img src="<?= PUBLICS ?>Home/images/index/live-select-bg.jpg" alt="">
			<div class="live-select-container">
				<div class="live-select-item">
					<img src="<?= PUBLICS ?>Home/images/index/live-item-1.jpg" alt="">
				</div>
				<div class="live-select-item active">
					<img src="<?= PUBLICS ?>Home/images/index/live-item-2.jpg" alt="">
				</div>
				<div class="live-select-item">
					<img src="<?= PUBLICS ?>Home/images/index/live-item-3.jpg" alt="">
				</div>
				<div class="live-select-item">
					<img src="<?= PUBLICS ?>Home/images/index/live-item-4.jpg" alt="">
				</div>
				<div class="live-select-item">
					<img src="<?= PUBLICS ?>Home/images/index/live-item-5.jpg" alt="">
				</div>
			</div>
			<div class="live-select-text">
				30min速变V脸女神之“线”上变形记
			</div>
		</div>
	</div>
</section>

<!-- makeup -->
<section id="makeup" class="makeup">
	<div class="makeup-center">
		<div class="makeup-item">
			<div class="makeup-item-img">
				<img src="<?= PUBLICS ?>Home/images/index/makeup-1.jpg" alt="">
				<div class="makeup-item-info">
					<p class="makeup-item-info-title">不会化妆？靠它就能让<br>你的颜值不掉线</p>
					<p class="makeup-item-info-text">在一项关于“最吸引异性注意力的五官部位”的调查中，82%的男性选择了眼睛，认为双眼是所有五官中最具魅力部分。是的，即便是气色不佳的情况下，一条眼线便能解决你的神采问题，令你美出新的高度，但相反，如果眼线画不好，颜值掉线也是分分钟的事儿！</p>
					<p class="makeup-item-info-icon">+</p>			
				</div>
			</div>	
			<div class="makeup-item-desc">
				选择那么多，可化妆包里
			</div>
		</div>
		<div class="makeup-item">
			<div class="makeup-item-img">
				<img src="<?= PUBLICS ?>Home/images/index/makeup-2.jpg" alt="">
				<div class="makeup-item-info">
					<p class="makeup-item-info-title">不会化妆？靠它就能让<br>你的颜值不掉线</p>
					<p class="makeup-item-info-text">在一项关于“最吸引异性注意力的五官部位”的调查中，82%的男性选择了眼睛，认为双眼是所有五官中最具魅力部分。是的，即便是气色不佳的情况下，一条眼线便能解决你的神采问题，令你美出新的高度，但相反，如果眼线画不好，颜值掉线也是分分钟的事儿！</p>
					<p class="makeup-item-info-icon">+</p>			
				</div>
			</div>
			<div class="makeup-item-desc">
				选择那么多，可化妆包里
			</div>		
		</div>
		<div class="makeup-item">
			<div class="makeup-item-img">
				<img src="<?= PUBLICS ?>Home/images/index/makeup-3.jpg" alt="">
				<div class="makeup-item-info">
					<p class="makeup-item-info-title">不会化妆？靠它就能让<br>你的颜值不掉线</p>
					<p class="makeup-item-info-text">在一项关于“最吸引异性注意力的五官部位”的调查中，82%的男性选择了眼睛，认为双眼是所有五官中最具魅力部分。是的，即便是气色不佳的情况下，一条眼线便能解决你的神采问题，令你美出新的高度，但相反，如果眼线画不好，颜值掉线也是分分钟的事儿！</p>
					<p class="makeup-item-info-icon">+</p>			
				</div>
			</div>
			<div class="makeup-item-desc">
				旅行时，这些当地美妆品
			</div>	
		</div>
		<div class="makeup-item">
			<div class="makeup-classify">
				<div class="makeup-classify-title">
					<img src="<?= PUBLICS ?>Home/images/index/makeup-classify-title.png" alt="">
				</div>
				<ul>
					<li><a href="#">美容</a></li>
					<li><a href="#">彩妆</a></li>
					<li><a href="#">护肤</a></li>
					<li><a href="#">品牌</a></li>
					<li><a href="#" class="no-bottom">化妆工具</a></li>
				</ul>
			</div>
			<div class="makeup-more">
				<a href="#" title=""><img src="<?= PUBLICS ?>Home/images/index/makeup-more.jpg" alt=""></a>
			</div>
		</div>
	</div>
</section>

<!-- comments -->
<section id="comments" class="comments">
	<div class="comments-center">
		<div class="comments-title">
			<img src="<?= PUBLICS ?>Home/images/index/comments-title.jpg" alt="">
		</div>
		<div class="comments-container">
			<div class="comments-item">
				<img src="<?= PUBLICS ?>Home/images/index/comment-1.jpg" alt="">
				<div class="comments-desc">
					<p class="comments-desc-text">遮瑕是一个我们都很需要，但总是疑惑要怎么才能用好的单品。从液体到膏状再到粉状的质地；从绿色到粉色，到底要怎么用呢？看看这些热卖的遮瑕单品，这次我们为你讲清楚这些要怎么使用。</p>
					<p class="comments-info"><span class="favorite">2561</span> <span class="comment">2436</span></p>
				</div>
			</div>
			<div class="comments-item">
				<img src="<?= PUBLICS ?>Home/images/index/comment-2.jpg" alt="">
				<div class="comments-desc">
					<p class="comments-desc-text">遮瑕是一个我们都很需要，但总是疑惑要怎么才能用好的单品。从液体到膏状再到粉状的质地；从绿色到粉色，到底要怎么用呢？看看这些热卖的遮瑕单品，这次我们为你讲清楚这些要怎么使用。</p>
					<p class="comments-info"><span class="favorite">2561</span> <span class="comment">2436</span></p>
				</div>
			</div>
			<div class="comments-item">
				<img src="<?= PUBLICS ?>Home/images/index/comment-3.jpg" alt="">
				<div class="comments-desc">
					<p class="comments-desc-text">遮瑕是一个我们都很需要，但总是疑惑要怎么才能用好的单品。从液体到膏状再到粉状的质地；从绿色到粉色，到底要怎么用呢？看看这些热卖的遮瑕单品，这次我们为你讲清楚这些要怎么使用。</p>
					<p class="comments-info"><span class="favorite">2561</span> <span class="comment">2436</span></p>
				</div>
			</div>
			<div class="comments-item">
				<img src="<?= PUBLICS ?>Home/images/index/comment-4.jpg" alt="">
				<div class="comments-desc">
					<p class="comments-desc-text">遮瑕是一个我们都很需要，但总是疑惑要怎么才能用好的单品。从液体到膏状再到粉状的质地；从绿色到粉色，到底要怎么用呢？看看这些热卖的遮瑕单品，这次我们为你讲清楚这些要怎么使用。</p>
					<p class="comments-info"><span class="favorite">2561</span> <span class="comment">2436</span></p>
				</div>
			</div>
			<div class="comments-item">
				<img src="<?= PUBLICS ?>Home/images/index/comment-3.jpg" alt="">
				<div class="comments-desc">
					<p class="comments-desc-text">遮瑕是一个我们都很需要，但总是疑惑要怎么才能用好的单品。从液体到膏状再到粉状的质地；从绿色到粉色，到底要怎么用呢？看看这些热卖的遮瑕单品，这次我们为你讲清楚这些要怎么使用。</p>
					<p class="comments-info"><span class="favorite">2561</span> <span class="comment">2436</span></p>
				</div>
			</div>
			<div class="comments-item">
				<img src="<?= PUBLICS ?>Home/images/index/comment-4.jpg" alt="">
				<div class="comments-desc">
					<p class="comments-desc-text">遮瑕是一个我们都很需要，但总是疑惑要怎么才能用好的单品。从液体到膏状再到粉状的质地；从绿色到粉色，到底要怎么用呢？看看这些热卖的遮瑕单品，这次我们为你讲清楚这些要怎么使用。</p>
					<p class="comments-info"><span class="favorite">2561</span> <span class="comment">2436</span></p>
				</div>
			</div>
			<div class="comments-item">
				<img src="<?= PUBLICS ?>Home/images/index/comment-2.jpg" alt="">
				<div class="comments-desc">
					<p class="comments-desc-text">遮瑕是一个我们都很需要，但总是疑惑要怎么才能用好的单品。从液体到膏状再到粉状的质地；从绿色到粉色，到底要怎么用呢？看看这些热卖的遮瑕单品，这次我们为你讲清楚这些要怎么使用。</p>
					<p class="comments-info"><span class="favorite">2561</span> <span class="comment">2436</span></p>
				</div>
			</div>
			<div class="comments-item">
				<img src="<?= PUBLICS ?>Home/images/index/comment-1.jpg" alt="">
				<div class="comments-desc">
					<p class="comments-desc-text">遮瑕是一个我们都很需要，但总是疑惑要怎么才能用好的单品。从液体到膏状再到粉状的质地；从绿色到粉色，到底要怎么用呢？看看这些热卖的遮瑕单品，这次我们为你讲清楚这些要怎么使用。</p>
					<p class="comments-info"><span class="favorite">2561</span> <span class="comment">2436</span></p>
				</div>
			</div>
			<div class="comments-item">
				<img src="<?= PUBLICS ?>Home/images/index/comment-2.jpg" alt="">
				<div class="comments-desc">
					<p class="comments-desc-text">遮瑕是一个我们都很需要，但总是疑惑要怎么才能用好的单品。从液体到膏状再到粉状的质地；从绿色到粉色，到底要怎么用呢？看看这些热卖的遮瑕单品，这次我们为你讲清楚这些要怎么使用。</p>
					<p class="comments-info"><span class="favorite">2561</span> <span class="comment">2436</span></p>
				</div>
			</div>
			<div class="comments-item">
				<img src="<?= PUBLICS ?>Home/images/index/comment-1.jpg" alt="">
				<div class="comments-desc">
					<p class="comments-desc-text">遮瑕是一个我们都很需要，但总是疑惑要怎么才能用好的单品。从液体到膏状再到粉状的质地；从绿色到粉色，到底要怎么用呢？看看这些热卖的遮瑕单品，这次我们为你讲清楚这些要怎么使用。</p>
					<p class="comments-info"><span class="favorite">2561</span> <span class="comment">2436</span></p>
				</div>
			</div>
			<div class="comments-item">
				<img src="<?= PUBLICS ?>Home/images/index/comment-4.jpg" alt="">
				<div class="comments-desc">
					<p class="comments-desc-text">遮瑕是一个我们都很需要，但总是疑惑要怎么才能用好的单品。从液体到膏状再到粉状的质地；从绿色到粉色，到底要怎么用呢？看看这些热卖的遮瑕单品，这次我们为你讲清楚这些要怎么使用。</p>
					<p class="comments-info"><span class="favorite">2561</span> <span class="comment">2436</span></p>
				</div>
			</div>
			<div class="comments-item">
				<img src="<?= PUBLICS ?>Home/images/index/comment-3.jpg" alt="">
				<div class="comments-desc">
					<p class="comments-desc-text">遮瑕是一个我们都很需要，但总是疑惑要怎么才能用好的单品。从液体到膏状再到粉状的质地；从绿色到粉色，到底要怎么用呢？看看这些热卖的遮瑕单品，这次我们为你讲清楚这些要怎么使用。</p>
					<p class="comments-info"><span class="favorite">2561</span> <span class="index-comment">2436</span></p>
				</div>
			</div>
		</div>
	</div>
</section>
<script>
	$(document).ready(function(){
		var imgNum=$('.comments-item img').length;
		$('.comments-item img').load(function(){
			console.log(1);
		    if(!--imgNum){
		       var num=4;
				var box=$('.comments-item');
				box.each(function(index,value){
					if(index<num)
					{
						$(value).css({
			                'top': 0,
			                'left': index*250+10
			            });
					}
					else
					{
						$(value).css({
			                'top': box.eq(index-4).position().top+box.eq(index-4).height()+10,
			                'left': index%4*250+10
			            });
					}
				})
		    }
		});
		var num=4;
		var box=$('.comments-item');
		box.each(function(index,value){
			if(index<num)
			{
				$(value).css({
	                'top': 0,
	                'left': index*250+10
	            });
			}
			else
			{
				$(value).css({
	                'top': box.eq(index-4).position().top+box.eq(index-4).height()+10,
	                'left': index%4*250+10
	            });
			}
		})
	})
	

	$('.carousel-index span').click(function(){
		var w=$('#carousel img').width();
		var i=$('.carousel-index span').index($(this));
		$('.carousel-container').stop().animate({'margin-left':-i*w},500);
		$(this).addClass('active').siblings().removeClass('active');
	})

	$('.live-select-item').click(function(){
		$(this).addClass('active').siblings().removeClass('active');
	})
</script>