
	<!-- 页面主体内容 -->
	<div class="main">
		<div class="crumbs">
			<a href="javascript:void(0)">e美评</a> &gt;
			<a href="javascript:void(0)">e订制</a> &gt;
			<a href="javascript:void(0)">皮肤管理</a> &gt;
			膜法世家水嫩盈润四合一面膜贴
		</div>
		<div class="main-left">
			<!-- 产品信息 -->
			<div class="product-info">
				<div class="product-left">
					<div class="product-img">
						<img src="<?= PUBLICS ?>Home/images/order/product-1.jpg" alt="">
					</div>
					<div class="buy-btn">
						<a href="javascript:void(0)">点击购买</a>
					</div>
				</div>
				<div class="product-right">
					<div class="product-name">西铁城万年历BL8001-01A</div>
					<div class="product-price">
						<div class="new-price">
							<span class="item-title">e美价：</span>
							<span class="price-icon">￥</span>
							<span class="price-desc">4500 - 4680</span>
						</div>
						<div class="old-price">
							<span>原价:</span>
							<span>￥8000 - 8299</span>
						</div>
					</div>
					<div class="product-desc">
						<div class="product-effect">
							<span class="item-title">产品功效：</span>
							<span class="item-desc">修护肌肤 活肤滋润</span>
						</div>
						<div class="product-classify">
							<span class="item-title">产品分类：</span>
							<span class="item-desc">乳液/凝露/啫喱</span>
						</div>
						<div class="product-method">
							<span class="item-title">使用方法：</span>
							<span class="item-desc close-content">使用完化妆水及精华液后，每次按压2~3泵使用完化妆水及精华液后</span>
							<a href="javascript:void(0)" class="open">展开</a>
						</div>
						<div class="product-intro">
							<span class="item-title">产品介绍：</span>
							<span class="item-desc">柔和贴肤，提供丰富的营养感、滋润感。 含丰富的矿物质及富含多酚，防止肌肤干燥，让肌肤回复水嫩光泽。</span>
                 		</div>
					</div>
				</div>
			</div>

			<!-- 图文详情 -->
			<div class="graphic">
				<div class="graphic-title">
					<span>图文详情</span>
				</div>
				<div class="graphic-content">
					<div class="recommand">
						<span class="recommand-tag">【推荐理由】</span>本套餐精选欧华7个高端美肤项目：像素激光（局部）、辉煌360嫩肤（以色列飞顿）、净肤美白光（韩国S10）、碳爆镭射、像素射频（局部，以色列ENDYMED）、年轻化即刻电波、DS水光针（2ML润月雅玻尿酸，德玛莎九孔水光设备）。针对黄褐斑、痘坑痘印、毛孔粗大、松弛下垂、脸脏脸花等较复杂、治疗周期相对较长的皮肤问题。欧华精选高端套餐旨在让有此类皮肤需求的人群以平民化的价格享受到高端美肤项目的疗程治疗。所含项目均搭配医学专用术后修复产品，快速修复肌肤，不额外收费！建议在VISIA检测后由医生推荐适合您的组合方案。局部：根据医生建议及个人实际情况，针对性的选择区域（如额头/双侧脸颊/下巴等）治疗，但不是全面部。
					</div>
					<div class="notice">
						<div class="notice-tag">购买须知</div>有效期：购买后立即生效，有效天数30天<br>注射美白精选了左旋VC、传明酸、谷胱甘肽等抗氧化成分。<br>预约信息：提前3天预约，本套餐不限次购买，套餐内像素激光、像素射频、DS水光针最多选2次（例如2次像素激光+2次像素射频+2次水光针或2次像素射频+4项其他治疗），建议到诊后由医生VISIA检测制定最佳治疗方案。
					</div>

					<div class="mix">
						<div class="img-block">
							<div>
								<img src="<?= PUBLICS ?>Home/images/fashion-detail/mix-1.jpg" alt="">
							</div>
							<div class="block-text">
								千金难求入场券 去戛纳做慈善也要抢破头！
							</div>
						</div>
						<div class="word">
							amfAR全名为American Foundation for AIDS Research，<br>由传奇影星伊丽莎白-泰勒与Mathilde Krim于1985年创建。<br>为了给艾滋病的研究筹措资金，<br>由amfAR组织的慈善晚宴每年都会在戛纳举办，<br>并选址昂蒂布角海角酒店(Hôtel du Cap-Eden-Roc)，<br>然后逐渐演变成一场汇聚近千人的盛会。
						</div>
						<div class="img-block" style="margin: 50px 0 60px">
							<div>
								<img src="<?= PUBLICS ?>Home/images/fashion-detail/mix-2.jpg" alt="">
							</div>
							<div class="block-text">
								伊丽莎白-泰勒是amfAR创始人之一
							</div>
						</div>
						<div class="img-block">
							<div>
								<img src="<?= PUBLICS ?>Home/images/fashion-detail/mix-3.jpg" alt="">
							</div>
							<div class="block-text">
								amfAR慈善晚宴盛景
							</div>
						</div>
						<div class="word">
							别看嘉宾是去“做公益”的，但是想进去却难如登天，<br>堪称戛纳各大活动里最难搞到邀请函的活动。<br>就连网球冠军鲍里斯·贝克尔，<br>都要自掏腰包11,500欧元才能获得一个座位。
						</div>
					</div>
					<div class="mark-tools">
						<span class="mark-fav">
							<span class="icon-fav"></span>
							<span class="mark-text">喜欢</span>
							<span class="mark-num">181</span>
						</span>
					</div>
				</div>
			</div>

		</div>
		<div class="main-right">
			<div class="main-right-img">
				<img src="<?= PUBLICS ?>Home/images/discuss/hotspot-r-img.jpg" alt="">
			</div>
			<div class="related">
				<div class="related-title">
					相关推荐
				</div>
				<div class="related-content">
					<div class="related-item">
						<a class="related-product">
							<img src="<?= PUBLICS ?>Home/images/order/product-1.jpg" alt="">
						</a>
						<div class="related-desc">
							<div class="related-name">Belif金缕梅滋润舒缓化妆水</div>
							<div class="related-intro">
							柔和贴肤，提供丰富的营养感、滋润感。 含丰富的矿物质及富含多酚
							</div>
							<div class="related-price">￥220</div>
						</div>
					</div>
					<div class="related-item">
						<a href="javascript:void(0)" class="related-product">
							<img src="<?= PUBLICS ?>Home/images/order/product-1.jpg" alt="">
						</a>
						<div class="related-desc">
							<div class="related-name">Belif金缕梅滋润舒缓化妆水</div>
							<div class="related-intro">
							柔和贴肤，提供丰富的营养感、滋润感。 含丰富的矿物质及富含多酚
							</div>
							<div class="related-price">￥220</div>
						</div>
					</div>
					<div class="related-item">
						<a href="javascript:void(0)" class="related-product">
							<img src="<?= PUBLICS ?>Home/images/order/product-1.jpg" alt="">
						</a>
						<div class="related-desc">
							<div class="related-name">Belif金缕梅滋润舒缓化妆水</div>
							<div class="related-intro">
							柔和贴肤，提供丰富的营养感、滋润感。 含丰富的矿物质及富含多酚
							</div>
							<div class="related-price">￥220</div>
						</div>
					</div>
					<div class="related-item">
						<a href="javascript:void(0)" class="related-product">
							<img src="<?= PUBLICS ?>Home/images/order/product-1.jpg" alt="">
						</a>
						<div class="related-desc">
							<div class="related-name">Belif金缕梅滋润舒缓化妆水</div>
							<div class="related-intro">
							柔和贴肤，提供丰富的营养感、滋润感。 含丰富的矿物质及富含多酚
							</div>
							<div class="related-price">￥220</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<section class="section">
			<div class="section-title">
				<span class="main-title">推荐产品</span>
				<a href="javascript:void(0)" class="view-more">更多 &gt;&gt;</a>
			</div>
			<div class="section-content">
				<a href="javascript:void(0)" class="inner-item">
					<div class="inner-item-img">
						<img src="<?= PUBLICS ?>Home/images/order/product-1.jpg" alt="">
					</div>
					<div class="inner-item-desc">夜色系列</div>
				</a>
				<a href="javascript:void(0)" class="inner-item">
					<div class="inner-item-img">
						<img src="<?= PUBLICS ?>Home/images/order/product-2.jpg" alt="">
					</div>
					<div class="inner-item-desc">18K黄金粉红色蓝宝石項鏈</div>
				</a>
				<a href="javascript:void(0)" class="inner-item">
					<div class="inner-item-img">
						<img src="<?= PUBLICS ?>Home/images/order/product-3.jpg" alt="">
					</div>
					<div class="inner-item-desc">迷人心形</div>
				</a>
				<a href="javascript:void(0)" class="inner-item">
					<div class="inner-item-img">
						<img src="<?= PUBLICS ?>Home/images/order/product-4.jpg" alt="">
					</div>
					<div class="inner-item-desc">Franky 手袋坠饰</div>
				</a>
				<a href="javascript:void(0)" class="inner-item">
					<div class="inner-item-img">
						<img src="<?= PUBLICS ?>Home/images/order/product-5.jpg" alt="">
					</div>
					<div class="inner-item-desc">条纹棕色 COUTURE 太阳镜</div>
				</a>
				<a href="javascript:void(0)" class="inner-item">
					<div class="inner-item-img">
						<img src="<?= PUBLICS ?>Home/images/order/product-6.jpg" alt="">
					</div>
					<div class="inner-item-desc">手帕</div>
				</a>
				<a href="javascript:void(0)" class="inner-item">
					<div class="inner-item-img">
						<img src="<?= PUBLICS ?>Home/images/order/product-7.jpg" alt="">
					</div>
					<div class="inner-item-desc">BUNNYLOVE 凉鞋</div>
				</a>
				<a href="javascript:void(0)" class="inner-item">
					<div class="inner-item-img">
						<img src="<?= PUBLICS ?>Home/images/order/product-8.jpg" alt="">
					</div>
					<div class="inner-item-desc">时髦猴图案手拿包</div>
				</a>
			</div>
		</section>
	</div>
<script>
	$(function(){
		$('.open').click(function(){
			$('.product-method .item-desc').toggleClass('close-content');
		})
	})
</script>