
	<!-- 幻灯片模块 -->
	<section class="carousel">
		<div class="carousel-window">
			<div class="carousel-inner">
				<div class="carousel-item">
					<img src="<?= PUBLICS ?>Home/images/order/carousel-item.jpg" alt="">
				</div>
				<div class="carousel-item">
					<img src="<?= PUBLICS ?>Home/images/order/carousel-item.jpg" alt="">
				</div>
				<div class="carousel-item">
					<img src="<?= PUBLICS ?>Home/images/order/carousel-item.jpg" alt="">
				</div>
			</div>
			<div class="carousel-index">
				<div class="index-wrap">
					<span class="active dot-1"></span>
					<span class="dot-2"></span>
					<span class="dot-3"></span>
				</div>	
			</div>
		</div>
	</section>


	<!-- 页面主体内容 -->
	<div class="main">
			
		<!-- 推荐产品 -->
		<section class="section section-1">
			<div class="section-center">
				<div class="section-title">
					<span class="main-title">推荐产品</span>
					<span class="classify">
						<b class="active">全部</b>
						<b>护肤</b>
						<b>彩妆</b>
						<b>香水</b>
						<b>美甲</b>
						<b>瘦身</b>
					</span>
					<a href="javascript:void(0)" class="view-more">更多 >></a>
				</div>
				<div class="section-inner">
					<a href="javascript:void(0)" class="inner-item">
						<div class="inner-item-img">
							<img src="<?= PUBLICS ?>Home/images/order/product-1.jpg" alt="">
						</div>
						<div class="inner-item-desc">夜色系列</div>
					</a>
					<a href="javascript:void(0)" class="inner-item">
						<div class="inner-item-img">
							<img src="<?= PUBLICS ?>Home/images/order/product-2.jpg" alt="">
						</div>
						<div class="inner-item-desc">18K黄金粉红色蓝宝石項鏈</div>
					</a>
					<a href="javascript:void(0)" class="inner-item">
						<div class="inner-item-img">
							<img src="<?= PUBLICS ?>Home/images/order/product-3.jpg" alt="">
						</div>
						<div class="inner-item-desc">迷人心形</div>
					</a>
					<a href="javascript:void(0)" class="inner-item">
						<div class="inner-item-img">
							<img src="<?= PUBLICS ?>Home/images/order/product-4.jpg" alt="">
						</div>
						<div class="inner-item-desc">Franky 手袋坠饰</div>
					</a>
					<a href="javascript:void(0)" class="inner-item">
						<div class="inner-item-img">
							<img src="<?= PUBLICS ?>Home/images/order/product-5.jpg" alt="">
						</div>
						<div class="inner-item-desc">条纹棕色 COUTURE 太阳镜</div>
					</a>
					<a href="javascript:void(0)" class="inner-item">
						<div class="inner-item-img">
							<img src="<?= PUBLICS ?>Home/images/order/product-6.jpg" alt="">
						</div>
						<div class="inner-item-desc">手帕</div>
					</a>
					<a href="javascript:void(0)" class="inner-item">
						<div class="inner-item-img">
							<img src="<?= PUBLICS ?>Home/images/order/product-7.jpg" alt="">
						</div>
						<div class="inner-item-desc">BUNNYLOVE 凉鞋</div>
					</a>
					<a href="javascript:void(0)" class="inner-item">
						<div class="inner-item-img">
							<img src="<?= PUBLICS ?>Home/images/order/product-8.jpg" alt="">
						</div>
						<div class="inner-item-desc">时髦猴图案手拿包</div>
					</a>
				</div>
			</div>
		</section>


		<!-- 清洁管理 -->
		<section class="section section-2">
			<div class="section-center">
				<div class="section-title">
					<span class="main-title">清洁管理</span>
					<a href="javascript:void(0)" class="view-more">更多 >></a>
				</div>
				<div class="section-inner">
					<a href="javascript:void(0)" class="inner-item">
						<div class="inner-item-img">
							<img src="<?= PUBLICS ?>Home/images/order/product-1.jpg" alt="">
						</div>
						<div class="inner-item-desc">夜色系列</div>
					</a>
					<a href="javascript:void(0)" class="inner-item">
						<div class="inner-item-img">
							<img src="<?= PUBLICS ?>Home/images/order/product-2.jpg" alt="">
						</div>
						<div class="inner-item-desc">18K黄金粉红色蓝宝石項鏈</div>
					</a>
					<a href="javascript:void(0)" class="inner-item">
						<div class="inner-item-img">
							<img src="<?= PUBLICS ?>Home/images/order/product-3.jpg" alt="">
						</div>
						<div class="inner-item-desc">迷人心形</div>
					</a>
					<a href="javascript:void(0)" class="inner-item">
						<div class="inner-item-img">
							<img src="<?= PUBLICS ?>Home/images/order/product-4.jpg" alt="">
						</div>
						<div class="inner-item-desc">Franky 手袋坠饰</div>
					</a>
					<a href="javascript:void(0)" class="inner-item">
						<div class="inner-item-img">
							<img src="<?= PUBLICS ?>Home/images/order/product-5.jpg" alt="">
						</div>
						<div class="inner-item-desc">条纹棕色 COUTURE 太阳镜</div>
					</a>
					<a href="javascript:void(0)" class="inner-item">
						<div class="inner-item-img">
							<img src="<?= PUBLICS ?>Home/images/order/product-6.jpg" alt="">
						</div>
						<div class="inner-item-desc">手帕</div>
					</a>
					<a href="javascript:void(0)" class="inner-item">
						<div class="inner-item-img">
							<img src="<?= PUBLICS ?>Home/images/order/product-7.jpg" alt="">
						</div>
						<div class="inner-item-desc">BUNNYLOVE 凉鞋</div>
					</a>
					<a href="javascript:void(0)" class="inner-item">
						<div class="inner-item-img">
							<img src="<?= PUBLICS ?>Home/images/order/product-8.jpg" alt="">
						</div>
						<div class="inner-item-desc">时髦猴图案手拿包</div>
					</a>
				</div>
			</div>
		</section>

		
		<!-- 皮肤修复 -->
		<section class="section section-3">
			<div class="section-center">
				<div class="section-title">
					<span class="main-title">皮肤修复</span>
					<a href="javascript:void(0)" class="view-more">更多 >></a>
				</div>
				<div class="section-inner">
					<a href="javascript:void(0)" class="inner-item">
						<div class="inner-item-img">
							<img src="<?= PUBLICS ?>Home/images/order/product-1.jpg" alt="">
						</div>
						<div class="inner-item-desc">夜色系列</div>
					</a>
					<a href="javascript:void(0)" class="inner-item">
						<div class="inner-item-img">
							<img src="<?= PUBLICS ?>Home/images/order/product-2.jpg" alt="">
						</div>
						<div class="inner-item-desc">18K黄金粉红色蓝宝石項鏈</div>
					</a>
					<a href="javascript:void(0)" class="inner-item">
						<div class="inner-item-img">
							<img src="<?= PUBLICS ?>Home/images/order/product-3.jpg" alt="">
						</div>
						<div class="inner-item-desc">迷人心形</div>
					</a>
					<a href="javascript:void(0)" class="inner-item">
						<div class="inner-item-img">
							<img src="<?= PUBLICS ?>Home/images/order/product-4.jpg" alt="">
						</div>
						<div class="inner-item-desc">Franky 手袋坠饰</div>
					</a>
					<a href="javascript:void(0)" class="inner-item">
						<div class="inner-item-img">
							<img src="<?= PUBLICS ?>Home/images/order/product-5.jpg" alt="">
						</div>
						<div class="inner-item-desc">条纹棕色 COUTURE 太阳镜</div>
					</a>
					<a href="javascript:void(0)" class="inner-item">
						<div class="inner-item-img">
							<img src="<?= PUBLICS ?>Home/images/order/product-6.jpg" alt="">
						</div>
						<div class="inner-item-desc">手帕</div>
					</a>
					<a href="javascript:void(0)" class="inner-item">
						<div class="inner-item-img">
							<img src="<?= PUBLICS ?>Home/images/order/product-7.jpg" alt="">
						</div>
						<div class="inner-item-desc">BUNNYLOVE 凉鞋</div>
					</a>
					<a href="javascript:void(0)" class="inner-item">
						<div class="inner-item-img">
							<img src="<?= PUBLICS ?>Home/images/order/product-8.jpg" alt="">
						</div>
						<div class="inner-item-desc">时髦猴图案手拿包</div>
					</a>
				</div>
			</div>
		</section>

		
		<!-- 品质医美 -->
		<section class="section section-4">
			<div class="section-center">
				<div class="section-title">
					<span class="main-title">品质医美</span>
					<a href="javascript:void(0)" class="view-more">更多 >></a>
				</div>
				<div class="section-inner">
					<a href="javascript:void(0)" class="inner-item">
						<div class="inner-item-img">
							<img src="<?= PUBLICS ?>Home/images/order/product-1.jpg" alt="">
						</div>
						<div class="inner-item-desc">夜色系列</div>
					</a>
					<a href="javascript:void(0)" class="inner-item">
						<div class="inner-item-img">
							<img src="<?= PUBLICS ?>Home/images/order/product-2.jpg" alt="">
						</div>
						<div class="inner-item-desc">18K黄金粉红色蓝宝石項鏈</div>
					</a>
					<a href="javascript:void(0)" class="inner-item">
						<div class="inner-item-img">
							<img src="<?= PUBLICS ?>Home/images/order/product-3.jpg" alt="">
						</div>
						<div class="inner-item-desc">迷人心形</div>
					</a>
					<a href="javascript:void(0)" class="inner-item">
						<div class="inner-item-img">
							<img src="<?= PUBLICS ?>Home/images/order/product-4.jpg" alt="">
						</div>
						<div class="inner-item-desc">Franky 手袋坠饰</div>
					</a>
					<a href="javascript:void(0)" class="inner-item">
						<div class="inner-item-img">
							<img src="<?= PUBLICS ?>Home/images/order/product-5.jpg" alt="">
						</div>
						<div class="inner-item-desc">条纹棕色 COUTURE 太阳镜</div>
					</a>
					<a href="javascript:void(0)" class="inner-item">
						<div class="inner-item-img">
							<img src="<?= PUBLICS ?>Home/images/order/product-6.jpg" alt="">
						</div>
						<div class="inner-item-desc">手帕</div>
					</a>
					<a href="javascript:void(0)" class="inner-item">
						<div class="inner-item-img">
							<img src="<?= PUBLICS ?>Home/images/order/product-7.jpg" alt="">
						</div>
						<div class="inner-item-desc">BUNNYLOVE 凉鞋</div>
					</a>
					<a href="javascript:void(0)" class="inner-item">
						<div class="inner-item-img">
							<img src="<?= PUBLICS ?>Home/images/order/product-8.jpg" alt="">
						</div>
						<div class="inner-item-desc">时髦猴图案手拿包</div>
					</a>
				</div>
			</div>
		</section>

		<!-- 私服订制 -->
		<section class="section section-5">
			<div class="section-center">
				<div class="section-title">
					<span class="main-title">私服订制</span>
					<a href="javascript:void(0)" class="view-more">更多 >></a>
				</div>
				<div class="section-inner">
					<a href="javascript:void(0)" class="inner-item">
						<div class="inner-item-img">
							<img src="<?= PUBLICS ?>Home/images/order/product-1.jpg" alt="">
						</div>
						<div class="inner-item-desc">夜色系列</div>
					</a>
					<a href="javascript:void(0)" class="inner-item">
						<div class="inner-item-img">
							<img src="<?= PUBLICS ?>Home/images/order/product-2.jpg" alt="">
						</div>
						<div class="inner-item-desc">18K黄金粉红色蓝宝石項鏈</div>
					</a>
					<a href="javascript:void(0)" class="inner-item">
						<div class="inner-item-img">
							<img src="<?= PUBLICS ?>Home/images/order/product-3.jpg" alt="">
						</div>
						<div class="inner-item-desc">迷人心形</div>
					</a>
					<a href="javascript:void(0)" class="inner-item">
						<div class="inner-item-img">
							<img src="<?= PUBLICS ?>Home/images/order/product-4.jpg" alt="">
						</div>
						<div class="inner-item-desc">Franky 手袋坠饰</div>
					</a>
					<a href="javascript:void(0)" class="inner-item">
						<div class="inner-item-img">
							<img src="<?= PUBLICS ?>Home/images/order/product-5.jpg" alt="">
						</div>
						<div class="inner-item-desc">条纹棕色 COUTURE 太阳镜</div>
					</a>
					<a href="javascript:void(0)" class="inner-item">
						<div class="inner-item-img">
							<img src="<?= PUBLICS ?>Home/images/order/product-6.jpg" alt="">
						</div>
						<div class="inner-item-desc">手帕</div>
					</a>
					<a href="javascript:void(0)" class="inner-item">
						<div class="inner-item-img">
							<img src="<?= PUBLICS ?>Home/images/order/product-7.jpg" alt="">
						</div>
						<div class="inner-item-desc">BUNNYLOVE 凉鞋</div>
					</a>
					<a href="javascript:void(0)" class="inner-item">
						<div class="inner-item-img">
							<img src="<?= PUBLICS ?>Home/images/order/product-8.jpg" alt="">
						</div>
						<div class="inner-item-desc">时髦猴图案手拿包</div>
					</a>
				</div>
			</div>
		</section>


		<!-- 潮流生活 -->
		<section class="section section-6">
			<div class="section-center">
				<div class="section-title">
					<span class="main-title">潮流生活</span>
					<a href="javascript:void(0)" class="view-more">更多 >></a>
				</div>
				<div class="section-inner">
					<a href="javascript:void(0)" class="inner-item">
						<div class="inner-item-img">
							<img src="<?= PUBLICS ?>Home/images/order/product-1.jpg" alt="">
						</div>
						<div class="inner-item-desc">夜色系列</div>
					</a>
					<a href="javascript:void(0)" class="inner-item">
						<div class="inner-item-img">
							<img src="<?= PUBLICS ?>Home/images/order/product-2.jpg" alt="">
						</div>
						<div class="inner-item-desc">18K黄金粉红色蓝宝石項鏈</div>
					</a>
					<a href="javascript:void(0)" class="inner-item">
						<div class="inner-item-img">
							<img src="<?= PUBLICS ?>Home/images/order/product-3.jpg" alt="">
						</div>
						<div class="inner-item-desc">迷人心形</div>
					</a>
					<a href="javascript:void(0)" class="inner-item">
						<div class="inner-item-img">
							<img src="<?= PUBLICS ?>Home/images/order/product-4.jpg" alt="">
						</div>
						<div class="inner-item-desc">Franky 手袋坠饰</div>
					</a>
					<a href="javascript:void(0)" class="inner-item">
						<div class="inner-item-img">
							<img src="<?= PUBLICS ?>Home/images/order/product-5.jpg" alt="">
						</div>
						<div class="inner-item-desc">条纹棕色 COUTURE 太阳镜</div>
					</a>
					<a href="javascript:void(0)" class="inner-item">
						<div class="inner-item-img">
							<img src="<?= PUBLICS ?>Home/images/order/product-6.jpg" alt="">
						</div>
						<div class="inner-item-desc">手帕</div>
					</a>
					<a href="javascript:void(0)" class="inner-item">
						<div class="inner-item-img">
							<img src="<?= PUBLICS ?>Home/images/order/product-7.jpg" alt="">
						</div>
						<div class="inner-item-desc">BUNNYLOVE 凉鞋</div>
					</a>
					<a href="javascript:void(0)" class="inner-item">
						<div class="inner-item-img">
							<img src="<?= PUBLICS ?>Home/images/order/product-8.jpg" alt="">
						</div>
						<div class="inner-item-desc">时髦猴图案手拿包</div>
					</a>
				</div>
			</div>
		</section>

	</div>

<script>
	$(function(){

		// 存储当前幻灯片索引
		var i=0;

		// 自动切换函数
		function autoChange(){
			if(i<2)
			{
				i++;
			}
			else
			{
				i=0;
			}
			cut(i);
		}

		// 定义计时器
		var s=setInterval(function(){autoChange()},8000);

		function cut(i){
			var w=$('.carousel img').width();
			$('.carousel-inner').stop().animate({'margin-left':-i*w+'px'},800);
			$('.carousel-index span').eq(i).addClass('active').siblings().removeClass('active');
			clearInterval(s);
			s=setInterval(function(){autoChange()},8000);
		}

		// 轮播图dot click事件
		$('.carousel-index span').click(function(){
			i=$('.carousel-index span').index($(this));
			cut(i);
		})


		// section 分类标签切换
		$('.classify b').click(function(){
			$(this).addClass('active').siblings().removeClass('active');
		})
	})
</script>